In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/gdrive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/feature/csv/para_and_mean_variance.csv")

In [ ]:
df.head()

,Unnamed: 0,id,paragraph,postText mean,postText variance,title mean,title variance
0,0,858462320779026433,Thousands of modern slavery victims havenot co...,0.643028,0.016918,0.678807,0.020574
1,1,858421020331560960,President Donald Trump has appointed thepro-li...,0.259717,0.070382,0.428651,0.059395
2,2,858368123753435136,When theWhite House correspondents’ dinner is ...,0.619952,0.026573,0.631976,0.024935
3,3,858323428260139008,Adorable is probably an understatement. This a...,0.409056,0.056876,0.361099,0.105833
4,4,858283602626347008,One of Tokyo's major subways systems says it s...,0.596689,0.029145,0.596689,0.029145

In [ ]:
label_dataset = pd.read_csv("/content/gdrive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/Dataset/truths.csv")

In [ ]:
label_dataset.head()

,id,truthJudgments,truthMean,truthMedian,truthMode,truthClass,label
0,858462320779026433,"[0.3333333333, 0.0, 0.3333333333, 0.0, 0.0]",0.133333,0.000000,0.000000,no-clickbait,0
1,858421020331560960,"[1.0, 1.0, 1.0, 1.0, 1.0]",1.000000,1.000000,1.000000,clickbait,1
2,858368123753435136,"[0.3333333333, 1.0, 0.3333333333, 0.0, 0.66666...",0.466667,0.333333,0.333333,no-clickbait,0
3,858323428260139008,"[1.0, 0.6666666666, 1.0, 1.0, 1.0]",0.933333,1.000000,1.000000,clickbait,1
4,858283602626347008,"[0.0, 0.0, 0.0, 0.0, 0.0]",0.000000,0.000000,0.000000,no-clickbait,0

In [ ]:
df1 = pd.merge(df, label_dataset,on="id",how ="inner")

In [ ]:
df1.head()

,Unnamed: 0,id,paragraph,postText mean,postText variance,title mean,title variance,truthJudgments,truthMean,truthMedian,truthMode,truthClass,label
0,0,858462320779026433,Thousands of modern slavery victims havenot co...,0.643028,0.016918,0.678807,0.020574,"[0.3333333333, 0.0, 0.3333333333, 0.0, 0.0]",0.133333,0.000000,0.000000,no-clickbait,0
1,1,858421020331560960,President Donald Trump has appointed thepro-li...,0.259717,0.070382,0.428651,0.059395,"[1.0, 1.0, 1.0, 1.0, 1.0]",1.000000,1.000000,1.000000,clickbait,1
2,2,858368123753435136,When theWhite House correspondents’ dinner is ...,0.619952,0.026573,0.631976,0.024935,"[0.3333333333, 1.0, 0.3333333333, 0.0, 0.66666...",0.466667,0.333333,0.333333,no-clickbait,0
3,3,858323428260139008,Adorable is probably an understatement. This a...,0.409056,0.056876,0.361099,0.105833,"[1.0, 0.6666666666, 1.0, 1.0, 1.0]",0.933333,1.000000,1.000000,clickbait,1
4,4,858283602626347008,One of Tokyo's major subways systems says it s...,0.596689,0.029145,0.596689,0.029145,"[0.0, 0.0, 0.0, 0.0, 0.0]",0.000000,0.000000,0.000000,no-clickbait,0

In [ ]:
dataset = pd.DataFrame()
dataset["id"] = df1["id"]
dataset["paragraph"] = df1["paragraph"]
dataset["label"] = df1["label"]

In [ ]:
dataset.head()

,id,paragraph,label
0,858462320779026433,Thousands of modern slavery victims havenot co...,0
1,858421020331560960,President Donald Trump has appointed thepro-li...,1
2,858368123753435136,When theWhite House correspondents’ dinner is ...,0
3,858323428260139008,Adorable is probably an understatement. This a...,1
4,858283602626347008,One of Tokyo's major subways systems says it s...,0

In [ ]:
dataset.shape

(19538, 3)

In [ ]:
paragraph = df["targetParagraph"]

In [ ]:
paragraph

0       Paying for a 64GB phone only to discover that ...
1       Emerging markets are out of favor.Global inves...
2       WINNIPEG, Manitoba – The bubble U.S. Soccer is...
3       When Walt Disney World opened in an Orlando sw...
4       (CNN)The light bulb always makes the world's t...
                              ...
2454    The man who underwent the world's first succes...
2455    WINNIPEG, ManitobaThe moment Abby Wambach step...
2456    With the Supreme Court set to issue a ruling w...
2457    BEFORE “Deflategate,” the National Football Le...
2458    EXCLUSIVE: has acquired distribution rights to...
Name: targetParagraph, Length: 2459, dtype: object

In [ ]:
paragraph[0]

"Paying for a 64GB phone only to discover that this is significantly reduced by system files and bloatware is the bane of many smartphone owner's lives.And the issue became so serious earlier this year that some Apple users even sued the company over it.But with the launch of iOS 9, Apple is hoping to address storage concerns by introducing a feature known as 'app thinning.'It has been explained on the watchOS Developer Library site and is aimed at developers looking to optimise their apps to work on iOS and the watchOS.It ensures apps use the lowest amount of storage space on a device by only downloading the parts it needs run on the particular handset it is being installed onto.It 'slices' the app into 'app variants' that only need to access the specific files on that specific handset.XperiaBlog recently spotted that the 8GB version of Sony's mid-range M4 Aqua has just 1.26GB of space for users.This means that firmware, pre-installed apps and Android software take up a staggering 84.25 per cent.Sony does let users increase storage space using a microSD card, but as XperiaBlog explained: 'Sony should never have launched an 8GB version of the Xperia M4 Aqua.'If you are thinking about purchasing this model, be aware of what you are buying into.'Previously, apps would need to be able to run on all handsets and account for the varying files, chipsets and power so contained sections that weren't always relevant to the phone it was being installed on.This made them larger than they needed to be.Under the new plans, when a phone is downloaded from the App Store, the app recognises which phone it is being installed onto and only pulls in the files and code it needs to work on that particular device.For iOS, sliced apps are supported on the latest iTunes and on devices running iOS 9.0 and later.In all other cases, the App Store will deliver the previous 'universal apps' to customers.The guidelines also discuss so-called 'on-demand resources.'This allows developers to omit features from an app until they are opened or requested by the user.The App Store hosts these resources on Apple servers and manages the downloads for the developer and user.This will also increase how quickly an app downloads.An example given by Apple is a game app that may divide resources into game levels and request the next level of resources only when the app anticipates the user has completed the previous level.Similarly, the app can request In-App Purchase resources only when the user buys a corresponding in-app purchase.Apple explained the operating system will then 'purge on-demand resources when they are no longer needed and disk space is low', removing them until they are needed again.And the whole iOS 9 software has been designed to be thinner during updates, namely from 4.6GB to 1.3GB, to free up space.This app thinning applies to third-party apps created by developers.Apple doesn't say if it will apply to the apps Apple pre-installed on devices, such as Stocks, Weather and Safari - but it is likely that it will in order to make iOS 9 smaller.As an example of storage space on Apple devices, a 64GB Apple iPhone 6 is typically left with 56GB of free space after pre-installed apps, system files and software is included.A drop of 8GB, leaving 87.5 per cent of storage free.By comparison, Samsung's 64GB S6 Edge has 53.42GB of available space, and of this 9GB is listed as system memory.Although this is a total drop of almost 11GB, it equates to 83 per cent of space free.By comparison, on a 32GB S6 MailOnline found 23.86GB of space was available, with 6.62GB attributed to system memory.This is a drop of just over 8GB and leaves 75 per cent free.Samsung said it, too, had addressed complaints about bloatware and storage space with its S6 range. Previous handsets, including the Samsung Galaxy S4 and Apple iPhone 5C typically ranged from between 54 per cent and 79 per cent of free space.Businessman 'killed his best friend when he crashed jet-powered dinghy into his £1million yacht while showing off' as his wife filmed them"

In [ ]:
!pip install lexical-diversity

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting lexical-diversity
  Downloading lexical_diversity-0.1.1-py3-none-any.whl (117 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.8/117.8 KB 4.8 MB/s eta 0:00:00
Installing collected packages: lexical-diversity
Successfully installed lexical-diversity-0.1.1

In [ ]:
from lexical_diversity import lex_div as ld

In [ ]:
tok = ld.tokenize(paragraph[0])
print(tok[:40])

['paying', 'for', 'a', '64gb', 'phone', 'only', 'to', 'discover', 'that', 'this', 'is', 'significantly', 'reduced', 'by', 'system', 'files', 'and', 'bloatware', 'is', 'the', 'bane', 'of', 'many', 'smartphone', 'owners', 'livesand', 'the', 'issue', 'became', 'so', 'serious', 'earlier', 'this', 'year', 'that', 'some', 'apple', 'users', 'even', 'sued']

In [ ]:
l = []
for para in paragraph:
  if type(para)==float:
    l.append(0)
    continue
  flt = ld.flemmatize(para)
  #print(flt)
  lexD= ld.ttr(flt)
  #print(lexD)
  l.append(round(lexD,2))

In [ ]:
print(l)

[0.45, 0.66, 0.48, 0.42, 0.42, 0.46, 0.45, 0.65, 0.88, 0.5, 0.53, 0.46, 0.37, 0.45, 0.51, 0.82, 0.51, 0.46, 0.57, 0.58, 0.48, 0.57, 0.68, 0.46, 0.7, 0.76, 0.49, 0.47, 0.64, 0.39, 0.53, 0.8, 0.93, 0.63, 0.46, 0.48, 0.41, 0.43, 0, 0, 0.54, 0.91, 0.49, 0.65, 0.45, 0, 0.5, 0.6, 0.57, 0.55, 1.0, 0.48, 0.55, 0.53, 0.42, 0.57, 0.73, 0.5, 0.49, 0.57, 0.58, 0.57, 0.52, 0.46, 0.88, 0.6, 0.56, 0.54, 0.63, 0.48, 0.51, 0.41, 0.75, 0.77, 0.74, 0.65, 0.54, 0.46, 0.64, 0.49, 0.5, 0, 0, 0.5, 0.33, 0.78, 0.66, 0.47, 0.55, 0.61, 0.51, 0.54, 0.48, 0.38, 0, 0.62, 0, 0.65, 0.46, 0.42, 0, 0.87, 0.83, 0.51, 0.57, 0.58, 1.0, 0.59, 0.45, 0.78, 0.41, 0.52, 0.45, 0.77, 0.45, 0.55, 0.4, 0.37, 0.67, 0.48, 0.69, 1.0, 0.7, 0, 0.53, 0.56, 0.59, 0.61, 0.54, 0.39, 0.75, 0.55, 0.42, 0, 0.49, 0.43, 0.37, 0.41, 0.42, 0.63, 0.84, 0.79, 0.83, 0.46, 0.51, 0, 0.54, 0.56, 0.49, 1.0, 0.64, 0.77, 0.46, 0.76, 0.37, 0.5, 0.76, 0.41, 0.43, 0.49, 0.62, 0.45, 0.83, 0.37, 0.65, 0.5, 0.69, 0.49, 0.54, 0.49, 0.5, 0.57, 0.54, 1.0, 0.38, 0.48, 0.58, 0.51, 0.52, 0.66, 0.81, 0.5, 0.82, 0.64, 0.46, 0.54, 0.6, 0.37, 0.64, 0, 0.56, 0.87, 0.54, 0.76, 0.62, 0.47, 0.47, 0.45, 0, 0.53, 0.6, 0, 0.45, 0.49, 0.76, 0.51, 0.82, 0.61, 0.46, 0.48, 0.62, 0.51, 0.37, 0.78, 0.57, 0.73, 0.66, 0.42, 0.63, 0.35, 0.73, 0.38, 0, 0, 0.36, 0.56, 0.64, 0.42, 0.3, 0.53, 0.69, 0.59, 0.53, 0.65, 0.43, 0.44, 0.45, 0.66, 0.7, 0.57, 0.69, 0.86, 0, 0.82, 0.64, 0.76, 0.56, 0.42, 0.89, 0.46, 0.64, 0.89, 0.55, 0.6, 0.61, 0.44, 0.55, 0, 0.67, 0.41, 0.75, 0.5, 0.66, 0.55, 0.79, 0.4, 0.56, 0.69, 0.49, 0.41, 0.75, 0.37, 0.41, 0.75, 0.49, 0.55, 0, 0.37, 0.33, 0.45, 0.58, 0.82, 0.46, 0.69, 0.5, 0.42, 0.52, 0.51, 0.75, 0.43, 0.46, 0.59, 0.54, 0.51, 0.57, 0.44, 0.79, 0.58, 0.54, 0.5, 0.56, 0.86, 0.55, 0.5, 0.69, 0.48, 0.48, 0.43, 0.43, 0.56, 0.46, 0.77, 0, 0.54, 0.59, 0.56, 0.4, 1.0, 0.62, 0.45, 0.5, 0.49, 0.39, 0.45, 0.59, 0.68, 0.57, 0.51, 0.38, 0.5, 0.45, 0.52, 0.91, 0.66, 0.53, 0.48, 0.74, 0.63, 0.53, 0.57, 0.71, 0.46, 0.59, 0.44, 0.58, 0.67, 0.53, 0.48, 0.56, 0.81, 0.5, 0.7, 0.45, 0.48, 0.61, 0.61, 0.47, 0.7, 0, 0.64, 0.68, 0.85, 0.73, 0.74, 0.43, 0.62, 0.57, 0.5, 0.66, 0.72, 0.49, 1.0, 0.89, 0.75, 0.65, 0.52, 0.44, 0.62, 0.78, 0.71, 0.56, 0.58, 0.71, 0.83, 0.45, 0.57, 0.8, 0.58, 0.53, 0.39, 0.42, 0.43, 0.68, 0.66, 0.5, 0.47, 0.46, 0.46, 0.55, 0.56, 0.57, 0.48, 0.44, 0.54, 0.47, 0.6, 0.49, 0, 0.56, 0.78, 0.47, 0.61, 0.76, 0.48, 1.0, 0.68, 1.0, 0, 0.69, 0.49, 0.46, 0.44, 0.53, 0.69, 0.68, 0.52, 0.86, 0.6, 0.42, 0.41, 0.47, 0.67, 0.4, 0.62, 0.59, 0.43, 0.87, 0.5, 0.49, 1.0, 0.6, 0.52, 0.48, 0.75, 0.46, 0.5, 0.57, 0.45, 0.52, 0.47, 0.76, 0.49, 0.89, 0.36, 0.61, 0.6, 0.81, 0.78, 0.48, 0.49, 0.67, 0.52, 0.46, 0.71, 0.55, 0.51, 0.68, 0.42, 0.63, 0.61, 0.52, 0.8, 0.39, 0, 0.59, 0, 0.69, 0.43, 0.66, 0.53, 0.62, 0.53, 0.69, 0.55, 0.4, 0.59, 0.5, 0.52, 0.67, 0.64, 0, 0, 0.47, 0.51, 0.74, 0.48, 0.6, 0.5, 0.57, 0.65, 0.55, 0.88, 0.51, 0.46, 0.72, 0.6, 0.48, 0.63, 0.54, 0.48, 0.5, 0.66, 0.64, 0.69, 0.51, 0.54, 0.53, 0.52, 0.62, 0.48, 0.55, 0, 0.61, 1.0, 0.6, 0.59, 0.49, 0.44, 0.58, 1.0, 0.86, 0.78, 0.43, 0.49, 0.54, 0.61, 1.0, 0.73, 1.0, 0.57, 0.49, 0.97, 0.49, 0, 0.49, 0.71, 0.47, 0.57, 0.46, 0.65, 0.56, 0.53, 0.52, 0.52, 0.54, 1.0, 0.56, 0, 0.58, 0.53, 0.46, 0.63, 0, 0.4, 0.62, 0.78, 0.29, 0.54, 0.43, 0.72, 0, 0.7, 0.69, 0.82, 0, 0.46, 0.4, 0.49, 0.57, 0.52, 0.28, 0.78, 0.44, 0.6, 0.77, 0.61, 0.38, 0.62, 0.54, 0.4, 1.0, 0.47, 0.45, 0.66, 0.8, 0.49, 0.74, 0, 0.5, 0.5, 0.6, 0.44, 0.41, 0.46, 0.65, 0, 0.49, 0.67, 0.5, 0.4, 0.59, 0.44, 0.87, 0.76, 0.57, 0.49, 0.52, 0.43, 0.62, 0.54, 1.0, 0.39, 0.4, 0.76, 0.86, 0.57, 0.4, 0.4, 0.7, 0.92, 1.0, 0.51, 0.85, 0.55, 0.54, 0.46, 0.86, 0.35, 0.48, 0.41, 0.68, 0.8, 0.4, 0.45, 0.61, 0.54, 0.72, 0.56, 0.86, 0.54, 0.5, 0.65, 0.43, 0.81, 0.56, 0.57, 0.83, 0, 0.51, 0.61, 0.67, 0, 0.46, 0.61, 0.77, 0.46, 0.48, 0.5, 0.71, 0.41, 0.43, 0.5, 0.53, 0.54, 0.42, 0.53, 0.54, 0.47, 0.58, 0.41, 0.73, 0.48, 0.69, 0.6, 0.51, 0.53, 0.4, 0.59, 0.77, 0.82, 0.48, 0.74, 0.66, 0.78, 0.42, 0.56, 0.57, 0.57, 0.6, 0.56, 0.51, 0.5, 0.45, 0.45, 0.55, 0.42, 0.59, 0.58, 0.47, 0.64, 0.29, 0.56, 0.59, 0.43, 0.47, 0.52, 0.51, 0.52, 0.41, 0, 0.56, 0.56, 0.55, 0.62, 0.45, 0.51, 0.65, 1.0, 0.53, 0.54, 0.4, 0.53, 0.72, 0, 0.79, 0.64, 0.43, 0.4, 0.47, 0.43, 0.51, 0.56, 0.48, 0.43, 0.55, 0.6, 0.63, 0.45, 0.5, 0.59, 0.58, 0.39, 0.54, 0.48, 0.51, 0.5, 0.61, 0.67, 0.76, 0.43, 0.51, 0.52, 0.59, 0.54, 0.63, 0.42, 0.6, 0.42, 0.65, 0.82, 0.61, 0.59, 0.31, 0.57, 0.51, 0.65, 0.55, 0.39, 0.46, 0.51, 0, 0.76, 0.57, 0, 0.54, 0.48, 0.46, 0.57, 0.41, 0.46, 0.71, 0.52, 0.72, 0.45, 0.39, 0.44, 0.83, 0.43, 0.48, 0.47, 0.29, 0.48, 0.46, 0.5, 0.54, 0.63, 0.67, 0.55, 0.61, 0.82, 0.92, 0, 0.54, 0.48, 0.45, 0.39, 0.49, 0.56, 0.5, 0.7, 0.59, 0.39, 0.53, 0.48, 0.64, 0.49, 0.51, 0.53, 0, 0.49, 0.67, 0.54, 0.46, 0.49, 0.53, 0.4, 0.53, 0, 0, 1.0, 0.55, 0.62, 0.67, 0.58, 0, 0.81, 0, 0.82, 0.47, 0, 0.37, 0.5, 0.78, 0.64, 0.47, 0.58, 0.64, 0.75, 0.57, 0.55, 0.48, 0.51, 0.91, 0.55, 0.52, 0.64, 0.51, 0.63, 0.42, 0.41, 0.41, 0.39, 0.58, 0.58, 0, 0.55, 0.59, 0.48, 0.54, 0.73, 0.57, 0.43, 0.5, 0.72, 0.51, 0.48, 0.47, 0, 0.64, 0.51, 0.58, 0.56, 0.63, 0.81, 0.47, 0.54, 0.5, 0.49, 0.77, 0.47, 1.0, 0, 0.49, 0.46, 0.35, 0.6, 0.5, 0.67, 0.53, 0.57, 0, 0.47, 0.53, 0.7, 0.5, 0.53, 0.29, 0.47, 0.57, 0.69, 0.58, 0, 0.67, 0.65, 0.48, 0.42, 0.61, 0.88, 0.46, 0.82, 0.84, 0.56, 0.87, 0.38, 0.52, 0.43, 0.59, 0.49, 0.52, 0.76, 0.54, 0.45, 0.66, 0.78, 0.6, 0.66, 0.61, 0.7, 0.44, 0.59, 0.55, 0.47, 0.92, 1.0, 0.8, 0.74, 0.41, 0, 0.49, 0.52, 0.71, 0.53, 0.67, 0.48, 0.61, 0.39, 0.47, 0.52, 0.5, 0.89, 0.52, 0.47, 0.56, 0.5, 0.42, 0.42, 0.75, 0.4, 0.56, 0.7, 0.62, 0.44, 0.78, 0.66, 0.5, 0.58, 0.49, 0.45, 0.6, 0.98, 0.67, 0.83, 0.56, 0.67, 0.52, 0.59, 0.5, 1.0, 0, 0.83, 0.36, 0.45, 0.52, 0.43, 0.46, 0.8, 0.58, 0.83, 0.67, 0.4, 0.58, 0.5, 0.52, 0.77, 0.55, 0.49, 0.9, 0.61, 0.63, 0.45, 0.54, 0.56, 0.47, 0.43, 0.81, 0.66, 0.59, 0.39, 0.47, 0.69, 0.58, 0.52, 0.59, 0.79, 0.62, 0.48, 0.42, 0.6, 0.65, 0.51, 0.9, 0.61, 0.55, 0.45, 0.56, 0.52, 0.51, 0.61, 0.68, 0.81, 0.5, 0.47, 0.68, 0.51, 0.57, 0.6, 0.39, 0.54, 0.72, 0.73, 0.82, 0.62, 0.5, 0.83, 0.45, 0.59, 0.85, 0.55, 0.74, 0.48, 0.55, 0.5, 0.4, 0.59, 0.4, 0.41, 0.39, 0.46, 0.66, 0.54, 0.39, 0.49, 0.59, 0.66, 0.46, 0.49, 0.39, 0.8, 0.74, 0.51, 0.68, 0.5, 0.43, 0.46, 0.39, 0.44, 0.92, 0.47, 0.4, 0.43, 0.52, 0.46, 0.58, 0.65, 0.5, 0.9, 0.6, 0.52, 0.67, 0.54, 0.55, 0.81, 0.4, 0.7, 0.85, 0.43, 0.37, 0.74, 0.4, 0, 0.52, 0.42, 0.63, 0.92, 0.4, 0.65, 0.84, 0.66, 0.47, 0.42, 0.84, 0.58, 0.84, 0.48, 0.88, 0.53, 0.53, 0.52, 0.39, 0.5, 0.45, 0.7, 0.59, 0.83, 0.51, 0.49, 0.49, 0.58, 0, 0.58, 0, 0.47, 0.45, 0.48, 0.39, 0.47, 0.49, 0.57, 0.81, 0.62, 0.59, 0.79, 0.48, 0.46, 0.56, 0.47, 0.43, 0.47, 0.71, 0.47, 0.54, 0.43, 0.52, 0.44, 0.59, 0.44, 0.5, 0.48, 0.62, 0.53, 0.53, 0.41, 0.68, 0.48, 0.43, 0.57, 0.6, 0.65, 0.59, 0.61, 0.5, 0.64, 0.29, 0.47, 0.51, 0.42, 0.46, 0.55, 0.48, 0.47, 0.6, 0.7, 0.27, 0.47, 0.43, 0.5, 0.47, 0.8, 0.59, 0.66, 0.61, 0.58, 0.8, 0.41, 0.55, 0.6, 0.61, 0.81, 0, 0.71, 0.66, 0.49, 0.45, 0.58, 0.39, 0, 0.41, 0.47, 0.65, 0.68, 0.64, 0.71, 0.54, 0.5, 0.73, 0.51, 0.71, 0.49, 0.5, 0.78, 0.59, 0.67, 0.44, 0.4, 0.94, 0.3, 0.47, 0.7, 0.48, 0.48, 0.54, 0.31, 0.5, 0.47, 0.53, 0.58, 0.59, 0.3, 0.56, 0.68, 0.32, 0.65, 0.79, 0.42, 0.47, 0.4, 0.54, 0.77, 0.53, 0.68, 0.49, 0.48, 0.64, 0.46, 0.72, 0.51, 0.58, 0.62, 0.51, 0.46, 0.6, 0.59, 0.64, 0.47, 0.43, 0.59, 0.65, 0.56, 0.38, 0.92, 0.52, 0.5, 0.77, 0.43, 0.37, 0.66, 0.76, 0.63, 0.59, 0.51, 0.55, 0.51, 0.59, 0.45, 0.53, 0.56, 0.32, 0.82, 0.48, 0.56, 0.41, 0.4, 0.58, 0.87, 0.87, 0.59, 1.0, 0.72, 0.57, 0.49, 0.26, 0.68, 0.48, 0, 0, 0.54, 0.85, 0.63, 0.49, 0.75, 0.52, 0.37, 0.7, 0.5, 0.94, 0.39, 0.53, 0.43, 0.45, 0.66, 0.44, 0.54, 0.78, 0.74, 0.5, 0.77, 0.81, 0.5, 0.61, 0.39, 0, 0.49, 0.65, 0.74, 0.39, 0.53, 0.49, 0.56, 0.59, 0.51, 0.53, 0.47, 0.53, 0.48, 0.63, 0.73, 0.47, 0.64, 0.51, 0.6, 0.77, 0.59, 0.48, 0.47, 0.64, 0.33, 0.29, 0.51, 0.45, 0.82, 0, 0.43, 0.74, 0.44, 0.48, 0.86, 0.78, 0.75, 0.47, 0.43, 0.69, 0.59, 0.48, 0.72, 0.49, 0.46, 0.64, 0.96, 0.63, 0, 0.58, 0.71, 0.61, 0.74, 0.56, 0.4, 0.63, 0.38, 0.55, 0.47, 0.43, 0.5, 0.43, 0.76, 0.45, 0.9, 0.44, 0.86, 0.53, 0.55, 0, 0.5, 0.57, 0, 0.65, 0, 0.39, 0.81, 0.71, 1.0, 0.58, 0.53, 0.8, 0.59, 0.57, 0, 0.87, 0.66, 0.38, 0.55, 0.79, 0.44, 0.67, 0, 0.53, 0.77, 0, 0.43, 0.51, 0.46, 0.86, 0.46, 1.0, 0.55, 0.54, 0.5, 0.74, 0.78, 0.52, 1.0, 0.36, 0.43, 0.51, 0.5, 0.63, 0.39, 0.39, 0.25, 0.42, 0.76, 0.52, 0.52, 0.54, 0.53, 0.53, 0.46, 0.59, 0.45, 0.54, 0.64, 1.0, 0.51, 0.65, 0.44, 0.64, 0.52, 0, 0.51, 0.52, 0.41, 0.47, 0.6, 0.47, 0.69, 0.42, 0.66, 0.55, 0.61, 0.42, 0.53, 0.46, 0.5, 0.59, 0.48, 0.28, 0.43, 0.6, 0.49, 0.36, 0.51, 0.49, 0.65, 0.54, 0.37, 0.6, 0.47, 0.61, 0.68, 0, 0.45, 0.53, 0.54, 0.49, 0.43, 0.6, 0.58, 0.6, 0.47, 0, 0, 0.56, 0.32, 0.51, 0.66, 0.37, 0, 0.35, 0.79, 0.67, 0.62, 0.62, 0.64, 0.45, 0.55, 0.54, 0.55, 0.57, 0.59, 0.68, 0.5, 0.82, 0, 0, 0.51, 0, 0.58, 0.59, 1.0, 0.46, 0.48, 0.5, 0.74, 0.82, 0.66, 0.55, 0.8, 0.52, 0.61, 0, 0.52, 0.55, 0.59, 0.55, 0.46, 0.36, 0.65, 0.63, 0.56, 0.81, 0, 0.49, 0.63, 0.68, 0.93, 1.0, 0.44, 0.59, 0.52, 0.5, 0.84, 0.34, 0.41, 1.0, 0.5, 0.52, 0.42, 0.55, 0.55, 0.48, 0.49, 0.73, 0.49, 0.28, 0.79, 0.42, 0.59, 0.75, 0.4, 0.42, 0.62, 0.61, 0.71, 0.55, 0.5, 0.34, 0.51, 0.42, 0.44, 1.0, 0.66, 0.56, 0.82, 0.58, 0.51, 0.4, 0.84, 0, 0.47, 0.3, 0.68, 0.29, 0.69, 0.48, 0.7, 0.63, 0.57, 0.55, 0.55, 0.48, 0.55, 0.53, 0.46, 0.33, 0.59, 1.0, 0.64, 0.49, 0.52, 0.71, 0.54, 0.53, 0.5, 0.4, 0.59, 0.66, 0.91, 0.56, 0.83, 0.7, 0.41, 0.77, 0.51, 0.37, 0.47, 0.55, 0.6, 0.46, 0.59, 0.63, 0.63, 0.47, 0.55, 0.67, 0.62, 0.8, 1.0, 0.47, 0.49, 0.46, 0.48, 0.62, 0.43, 0.4, 0.63, 0.53, 0.7, 0.5, 0.42, 1.0, 0.69, 0.56, 0, 0.58, 0.56, 0.54, 0.54, 0.47, 1.0, 0.43, 0.6, 0.65, 0.39, 0.68, 0.58, 0.48, 0.64, 0.41, 0.57, 0.53, 0.46, 0.52, 0.48, 0.66, 0.38, 0.6, 0.58, 0.53, 0.72, 0.72, 0.47, 0.69, 0.63, 0.46, 0.72, 0.4, 0.64, 0.43, 0.72, 0.68, 0.6, 0.7, 0.58, 0.52, 0.5, 0.79, 0, 0.53, 0.53, 0.66, 0.55, 0.64, 0.55, 0.51, 0.58, 0.54, 0.43, 0.52, 0.59, 0.79, 0.5, 0.73, 0.55, 0.4, 0.83, 0.47, 0.53, 0.53, 0.39, 0.62, 0.82, 0.48, 0, 0.76, 0.8, 0.7, 0.42, 0.84, 0.61, 0.49, 0.53, 0.47, 0.56, 0.42, 0.79, 0.43, 0.5, 0.65, 0.57, 0.56, 1.0, 0.81, 0.63, 0.41, 0.51, 0.25, 0.49, 0.53, 0.54, 0.64, 0.8, 0.55, 0.52, 0.76, 0.54, 0.62, 0.46, 0.74, 0.66, 0.36, 0.4, 0.39, 0.42, 0.83, 0.56, 0.67, 0.5, 0.42, 0.47, 0.54, 0.51, 0.57, 0.7, 0.67, 0.37, 0.75, 0.73, 0.49, 0.61, 0.32, 0.67, 0.38, 0.62, 0.63, 0.58, 0.49, 0.61, 0.48, 0.59, 0.45, 0.78, 0.7, 0.65, 0.61, 0.7, 0.52, 0.54, 0.4, 0.88, 0.41, 0.59, 0.59, 0.69, 0.48, 0.44, 0.69, 0.79, 0.48, 0.51, 0.55, 0.61, 0.51, 0, 0.72, 0.51, 0, 0.48, 0.61, 0.39, 0.46, 0.51, 0.48, 0.92, 0.55, 0.53, 0.59, 0.73, 0.55, 0.56, 0.86, 0.84, 0.78, 0.54, 0.47, 0.73, 0.42, 0.63, 0.55, 0.5, 0.74, 0.54, 0.65, 0.63, 0.53, 0.59, 0.59, 0.41, 0.44, 0.78, 0.46, 1.0, 0.54, 0.38, 0.62, 0.69, 0.88, 0.43, 0.89, 0.54, 0.69, 0.53, 0, 0.58, 0.38, 0.4, 0.79, 0.66, 0.95, 0.58, 0.38, 0.59, 0.44, 0.74, 0.79, 0.49, 0.54, 0.63, 0.42, 0.44, 0.47, 0.74, 0.42, 0.6, 0.48, 0.38, 0.5, 0.82, 0.4, 0.52, 0.43, 0.44, 0.78, 0.33, 0.66, 0.47, 0.45, 0.61, 0.42, 0.6, 0.52, 1.0, 0.63, 0.48, 0.42, 0.43, 0.52, 0.66, 0.38, 0.45, 0.7, 0.53, 0.47, 0.58, 0.52, 0.72, 0.88, 0.49, 0.58, 0.41, 0.43, 0.91, 0.52, 0.88, 0.92, 0.49, 0.58, 0.74, 0.85, 0.44, 0.57, 0.68, 0.49, 0.44, 0.35, 0.54, 0.42, 0.47, 0.7, 0.46, 0.66, 0.54, 0.43, 0, 0.65, 0.66, 0.52, 0.66, 0.62, 0.48, 0.45, 0.42, 0.8, 0.61, 0.43, 1.0, 0.67, 0.54, 0.48, 1.0, 0.59, 0.55, 0.57, 0.72, 0.65, 0.49, 0.49, 0.73, 0.44, 0.71, 0.58, 0, 0.4, 0, 0.51, 0.66, 0.48, 0.72, 0.49, 0.45, 0.92, 0, 0.82, 0.9, 0.42, 0.61, 1.0, 0.52, 0.55, 0.57, 0.41, 0.61, 0.64, 0.54, 0.48, 0.45, 0.46, 0.78, 0.49, 0.53, 0.42, 0.56, 0.73, 0.82, 0.39, 0.37, 0.51, 0.42, 0.58, 0.38, 0.49, 0.75, 0.51, 0.56, 0.61, 0.59, 0.49, 0.52, 0.59, 0.42, 0.68, 0.49, 0.48, 0.58, 0.51, 0.59, 0.48, 0.59, 0.55, 0.47, 0.38, 0.47, 0.47, 0.87, 0.64, 0.55, 0.49, 0.83, 0.67, 0, 0.53, 0.42, 0.51, 0.5, 0.45, 0.58, 0.37, 0.47, 0.62, 0.54, 0.49, 0.73, 0.5, 0.55, 0.34, 0, 1.0, 0.36, 0.58, 0.47, 0.69, 0.49, 0, 0.58, 0.55, 0.8, 1.0, 0.52, 0.44, 0, 0.62, 0.61, 0.62, 0.41, 0.77, 0.78, 0.53, 0.47, 0.4, 0.46, 0.52, 0.61, 0.62, 0.49, 0.61, 0.65, 0.67, 0.54, 0.57, 0.66, 0.62, 0.78, 0.48, 0.56, 0.77, 0.5, 0.51, 0.56, 0.78, 0.56, 0.72, 0.39, 0.63, 0, 0, 0.53, 0.47, 0.4, 0.43, 0, 0.46, 0.77, 0.53, 0.7, 0.43, 0.67, 0.63, 0.49, 0.52, 0, 0, 0.56, 0.61, 0.63, 0.42, 0.49, 0.79, 0.44, 0.48, 0.53, 0.52, 0, 0.55, 0.46, 0.64, 0.5, 0.96, 0.78, 0.51, 0, 0, 0.38, 0.6, 0.63, 0.6, 0.49, 0.41, 0.62, 0.43, 0, 0.44, 0, 0.54, 0.49, 0.42, 0.97, 0.72, 0.32, 0.44, 0.92, 0.67, 0.83, 0.52, 0.56, 0.41, 0.53, 0.34, 0.49, 0.48, 0.89, 0.48, 0.45, 0.54, 0.49, 0.84, 0.54, 0.49, 0.6, 0.45, 0.46, 0.45, 0.69, 0.48, 0.66, 0.57, 0.46, 0.89, 0.49, 0.43, 0.58, 0.54, 0.53, 0.43, 0.44, 0.52, 0.55, 0.4, 0.56, 0.7, 0.5, 0.6, 0.43, 0.46, 0.5, 0.82, 0, 0.91, 1.0, 0.6, 0.55, 0.83, 0.77, 0.52, 0.55, 0.83, 0.58, 0.47, 0.68, 0.75, 0.54, 0.52, 0.34, 0.66, 0.32, 0.42, 0, 0.7, 0.48, 0.47, 0.61, 0.47, 0.41, 0, 0.58, 0.55, 0.38, 0.42, 0.44, 0.41, 0.47, 0.62, 0.56, 0.54, 0.45, 0.58, 0.48, 0.51, 0.73, 0.61, 0.49, 0.47, 0.43, 0.51, 0.52, 0.58, 0.6, 0.59, 0.78, 0.54, 0.57, 0.56, 0.92, 0.46, 0.44, 0.49, 0.56, 0.49, 0.92, 0.5, 0.56, 1.0, 0.88, 0.95, 0.44, 0.4, 0.33, 0, 0.5, 0.97, 0.44, 0.6, 0.49, 0.54, 0.58, 0.46, 0.47, 0.31, 0.54, 0.72, 0, 0.57, 0.68, 0, 0.63, 0.69, 0.47, 0.55, 0.68, 0.42, 0.5, 0.49, 0.74, 0.43, 0.51, 0.52, 0.64, 0.75, 0.6, 0.6, 0.48, 0.64, 0, 0.69, 0.63, 0.55, 0.43, 0.5, 0, 0.74, 0.4, 0.54, 0.51, 0, 0.89, 0.81, 0.73, 1.0, 0.47, 0.62, 0.82, 0.4, 0.68, 0.63, 0.46, 0.47, 0.6, 0.54, 0.44, 0.57, 0.47, 0.75, 0.51, 0.53, 0.37, 0.4, 0.54, 0.53, 0.56, 0.53, 0.4, 0.47, 0.43, 0.62, 0.79, 0.65, 0.44, 0.45, 0.41, 0.83, 0.51, 0.59, 0.48, 0.75, 0.45, 0.61, 0.56, 0.49, 0.46, 0.52, 0.72, 0.55, 0.5, 0.57, 0.58, 0.53, 0.49, 0.42, 0.58, 0.56, 0.28, 0.33, 0.5, 0.46, 0.63, 0.46, 0.46, 0.83, 0.59, 0.45, 0.48, 0.32, 0.52, 0.49, 0.4, 0.46, 0.7, 0.49, 0.46, 0.5, 0.4, 0, 0.48, 0.5, 0.92, 0.39, 0.95, 0.53, 0.59, 0.39, 0.38, 0.44, 0.64, 0.33, 0.49, 0.55, 0.62, 0.44, 0.41, 0.43, 0.37, 0.48]

In [ ]:
df["lexical Diversity"] = l

In [ ]:
df.head(30)

,Unnamed: 0,id,targetParagraph list,targetParagraph,disSim targetParagraphs list,disSim targetParagraphs,lexical Diversity
0,0,608310377143799810,"[""Paying for a 64GB phone only to discover tha...",Paying for a 64GB phone only to discover that ...,['This made them larger than they needed to be...,This made them larger than they needed to be.B...,0.45
1,1,609297109095972864,"['Emerging markets are out of favor.', 'Global...",Emerging markets are out of favor.Global inves...,['Emerging markets are out of favor.'],Emerging markets are out of favor.,0.66
2,2,609504474621612032,"[""WINNIPEG, Manitoba – The bubble U.S. Soccer ...","WINNIPEG, Manitoba – The bubble U.S. Soccer is...",['The more U.S. Soccer tries to shift focus to...,The more U.S. Soccer tries to shift focus to t...,0.48
3,3,609748367049105409,['When Walt Disney World opened in an Orlando ...,When Walt Disney World opened in an Orlando sw...,['Disney park admissions revenue has grown abo...,Disney park admissions revenue has grown about...,0.42
4,4,608688782821453825,"[""(CNN)The light bulb always makes the world's...",(CNN)The light bulb always makes the world's t...,['Related: Another reason to want the corner o...,Related: Another reason to want the corner off...,0.42
5,5,609551038983475201,['One artist’s trash is another’s No. 1 single...,One artist’s trash is another’s No. 1 single.T...,"['So not hot, Paris. So not hot.', 'Will.i.am ...","So not hot, Paris. So not hot.Will.i.am origin...",0.46
6,6,609447408955719681,"['Wide receiver Dez Bryanthas signed a new, lo...","Wide receiver Dez Bryanthas signed a new, long...","[""Bryant has emerged as one of the NFL's best ...",Bryant has emerged as one of the NFL's best wi...,0.45
7,7,609027430624288769,"['TULSA, Okla. – A pregnant mother of 12 is du...","TULSA, Okla. – A pregnant mother of 12 is due ...",['The Associated Press is not naming the adult...,The Associated Press is not naming the adults ...,0.65
8,8,608229011572068352,['There’s no autopilot when you live abroad. N...,There’s no autopilot when you live abroad. No ...,['There’s no autopilot when you live abroad. N...,There’s no autopilot when you live abroad. No ...,0.88
9,9,609046214554755073,"[""House Republican leaders have planned for a ...",House Republican leaders have planned for a tw...,"[""House Republican leaders have planned for a ...",House Republican leaders have planned for a tw...,0.50
10,10,609738211183751168,['A decision to ban some foreign media from at...,A decision to ban some foreign media from atte...,['These organisations have accused the Azeri g...,These organisations have accused the Azeri gov...,0.53
11,11,609762671554990080,['Research found that while 90 per cent believ...,Research found that while 90 per cent believe ...,['Reasons for not complaining included fears t...,Reasons for not complaining included fears tha...,0.46
12,12,608980783924178945,"['Dear Jerry Seinfeld,', 'Recently, I\'ve hear...","Dear Jerry Seinfeld,Recently, I've heard about...","['Take Amy Schumer for example.', 'The sketch,...","Take Amy Schumer for example.The sketch, Footb...",0.37
13,13,609998126737395712,"[""UK security chiefs have warned that the form...",UK security chiefs have warned that the former...,['A British intelligence source was quoted as ...,A British intelligence source was quoted as sa...,0.45
14,14,608926452596273152,['More tourists are in trouble for getting nak...,More tourists are in trouble for getting naked...,['More tourists are in trouble for getting nak...,More tourists are in trouble for getting naked...,0.51
15,15,609300383358418945,['PARIS—A French court Friday acquitted Domini...,PARIS—A French court Friday acquitted Dominiqu...,['PARIS—A French court Friday acquitted Domini...,PARIS—A French court Friday acquitted Dominiqu...,0.82
16,16,608875876474851328,['A super PAC backing former Florida governor ...,A super PAC backing former Florida governor Je...,['The built-up expectations underscore the dra...,The built-up expectations underscore the drama...,0.51
17,17,610173844561788928,['The pressure on Mo Farah’s coach Alberto Sal...,The pressure on Mo Farah’s coach Alberto Salaz...,['“I absolutely believe the full extent of the...,“I absolutely believe the full extent of the e...,0.46
18,18,609095030926635011,"[""A federal court has decided not to block the...",A federal court has decided not to block the g...,"[""Efforts to craft anet neutrality bill have l...",Efforts to craft anet neutrality bill have lar...,0.57
19,19,608576531456249856,['Female celebrities have made headlines with ...,Female celebrities have made headlines with th...,"['Scroll down for video', 'Both celebrities we...",Scroll down for videoBoth celebrities were pho...,0.58
20,20,609631563597389824,"['On Monday, the United Nations released the r...","On Monday, the United Nations released the res...","[""It's also worth noting the significant effor...",It's also worth noting the significant effort ...,0.48
21,21,609372816568360960,"['Share this with', 'Email', 'Facebook', 'Mess...",Share this withEmailFacebookMessengerMessenger...,"['Share this with', 'The construction of the r...",Share this withThe construction of the road se...,0.57
22,22,610103181578764291,"[""It's been said you should never feed the tro...",It's been said you should never feed the troll...,"['""I get 10 letters a night out of the 40,000 ...","""I get 10 letters a night out of the 40,000 le...",0.68
23,23,609425861561962496,['President Obamawentall-out to convince two d...,President Obamawentall-out to convince two doz...,['For all of his courting -- he went to the Co...,For all of his courting -- he went to the Cong...,0.46
24,24,608658774769958912,['The driver of a pickup truck died when he cr...,The driver of a pickup truck died when he cras...,"[""No one else was hurt in the crash, which occ...","No one else was hurt in the crash, which occur...",0.70
25,25,609396415681445888,"['""Jurassic World,"" the latest installment of ...","""Jurassic World,"" the latest installment of th...","['""Jurassic World,"" the latest installment of ...","""Jurassic World,"" the latest installment of th...",0.76
26,26,609337131698229249,['Lewis Beale writes about culture and film fo...,Lewis Beale writes about culture and film for ...,['And he was certainly up to no good in some o...,And he was certainly up to no good in some of ...,0.49
27,27,610152342521028609,"['After weekend of intense talks, Greek prime ...","After weekend of intense talks, Greek prime mi...","['“If we have a viable agreement, no matter ho...","“If we have a viable agreement, no matter how ...",0.47
28,28,608315579913629696,['Both Audrey Stone and her trusty pup Figo su...,Both Audrey Stone and her trusty pup Figo surv...,"['The pup spotted the bus, and jumped in front...","The pup spotted the bus, and jumped in front o...",0.64
29,29,609417622485139456,['WASHINGTON — Hours after President Obama mad...,WASHINGTON — Hours after President Obama made ...,['Canada $577 United States Japan $194 Mexico ...,Canada $577 United States Japan $194 Mexico Vi...,0.39

In [ ]:
df = pd.read_csv("/content/gdrive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/feature/csv/common_count_sentiment.csv")

In [ ]:
df2 = pd.DataFrame()
df2["id"] = dataset["id"]
df2["lexical Diversity"] = dataset["lexical Diversity"]

In [ ]:
df2.head()

                   id  lexical Diversity
0  858462320779026433               0.41
1  858421020331560960               0.55
2  858368123753435136               0.47
3  858323428260139008               0.74
4  858283602626347008               0.53

In [ ]:
df = pd.merge(df, df2, on = "id", how = "inner")

In [ ]:
df.head()

,id,freq of word in para,Match keywords paragraph word,match title and paragraph word,match postText and paragraph word,senti_score,senti_score_absolute,entroy,lexical Diversity
0,858462320779026433,"['victims', 'modern', 'slavery', 'support', 'r...",2,6,5,-0.125,0.875,8.342841,0.41
1,858421020331560960,"['president', 'prolife', 'yoest', 'trump', 'pa...",13,3,0,0.750,0.750,7.193521,0.55
2,858368123753435136,"['trump', 'said', 'roast', 'one', 'new', 'york...",10,7,7,0.000,0.750,8.465862,0.47
3,858323428260139008,"['part', 'adorable', 'husky', 'maru', 'also', ...",4,3,0,0.875,0.875,5.538945,0.74
4,858283602626347008,"['north', 'missile', 'said', 'says', 'council'...",2,3,3,0.000,0.000,7.505263,0.53

In [ ]:
df.to_csv("/content/gdrive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/feature/csv/common_count_sentiment.csv",index=False)