In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import re
import nltk
import pandas as pd 
import numpy as np
from statistics import variance
from nltk.tag import pos_tag
from nltk.tokenize import word_tokenize
from collections import Counter
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
def noNNP(postText):
  nnpCount = []
  for row in range(len(postText)):
    if type(postText[row])==float or len(postText[row]) == 0:
      nnpCount.append(0)
      continue
    count = 0
    for word,pos in nltk.pos_tag(nltk.word_tokenize(postText[row])):
          if (pos == 'NNP'):
            count += 1
    nnpCount.append(count)
  return nnpCount

In [ ]:
def noTokens(paragraphs):
  tokenCount = []
  for row in range(len(paragraphs)):
    if type(paragraphs[row])==float or len(paragraphs[row]) == 0:
      tokenCount.append(0)
      continue
    tokens = nltk.word_tokenize(paragraphs[row])
    tokenCount.append(len(tokens))
    #print(tokens)
  #print(tokenCount)
  return tokenCount

In [ ]:
def wordLen(paragraphs):
  wordlen = []
  for item in paragraphs:
    if(type(item) == float or len(item) == 0):
      wordlen.append(0)
      continue
    token = item.split()
    wordlength = sum(len(word) for word in token)
    #print(token)
    #print(wordlength)
    wordlen.append(len(wordlength))
  return wordlen

In [ ]:
def NNP_NNP(phrase):
  cnt = 0
  for item in phrase:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NNP' and tagged[1][1] == 'NNP':
      cnt += 1
      #print(tagged)
  return cnt

#feature 5 - POS 2 GRAM NNP
def NNP_NNPCount(paragraphs):
  f = []
  for item in paragraphs:
    if(type(item)== float or len(item) == 0):
      f.append(0)
      continue
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      #print(output)
      cnt = NNP_NNP(output)
      f.append(cnt)
    else:
      f.append(0)
  return f

In [ ]:
def startsWithNumber(paragraphs):
  startNo = []
  for row in range(len(paragraphs)):
    #print(row)
    if type(paragraphs[row]) == float or len(paragraphs[row]) == 0:
      startNo.append(0)
      continue
    if(paragraphs[row][0].isdigit()):
      startNo.append(1)
    else:
      startNo.append(0)
  return startNo

In [ ]:
def averageLen(paragraphs):
  averageLenWords = []
  for item in paragraphs:
    if(type(item)== float or len(item) == 0):
      averageLenWords.append(0)
      continue
    words = item.split()
    average = round(sum(len(word) for word in words) / len(words),2)
    averageLenWords.append(average)
  return averageLenWords

In [ ]:
def INCount(paragraphs):
  INCount = []
  for row in range(len(paragraphs)):
    count = 0
    if(type(paragraphs[row]) == float or len(paragraphs[row]) == 0):
      INCount.append(0)
      continue 
    for word,pos in nltk.pos_tag(nltk.word_tokenize(paragraphs[row])):
          if (pos == 'IN'):
            count += 1
    INCount.append(count)
  return INCount

In [ ]:
def NNP_VBZ(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NNP' and tagged[1][1] == 'VBZ':
      #print(tagged)
      cnt+=1
  return cnt

def NNP_VBZCount(paragraphs):
  f7 = []
  for item in paragraphs:
    if(type(item) == float or len(item) == 0):
      f7.append(0)
      continue
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = NNP_VBZ(output)
      f7.append(cnt)
    else:
      f7.append(0)
  return f7

In [ ]:
def IN_NNP(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'IN' and tagged[1][1] == 'NNP':
      #print(tagged)
      cnt+=1
  return cnt

def IN_NNPCount(paragraphs):
  f7 = []
  for item in paragraphs:
    if(type(item) == float or len(item) == 0):
      f7.append(0)
      continue
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = IN_NNP(output)
      f7.append(cnt)
    else:
      f7.append(0)
  return f7

In [ ]:
def lenLongestWord(paragraphs):
  longestWord = []
  for item in paragraphs:
    if(type(item) == float or len(item) == 0):
      longestWord.append(0)
      continue
    word_list = item.split()
    # Find the longest word
    #print(word_list)
    longest_word = max(word_list, key = len)
    #print(longest_word)
    longestWord.append(len(longest_word))
  return longestWord

In [ ]:
def WRBCount(paragraphs):
  WRBCount = []
  for row in range(len(paragraphs)):
    count = 0
    if(type(paragraphs[row]) == float or len(paragraphs[row]) == 0):
      WRBCount.append(0)
      continue
    for word,pos in nltk.pos_tag(nltk.word_tokenize(paragraphs[row])):
          if (pos == 'WRB'):
            count += 1
            #print(word)
    WRBCount.append(count)
  return WRBCount

In [ ]:
def WRB_POS(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'WRB' and tagged[1][1] == 'POS':
      #print(tagged)
      cnt+=1
  return cnt


def WRB_POSCount(paragraphs):
  f7 = []
  for item in paragraphs:
    if(type(item) == float or len(item) == 0):
      f7.append(0)
      continue
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = WRB_POS(output)
      f7.append(cnt)
    else:
      f7.append(0)
  return f7

In [ ]:
def NNCount(paragraphs):
  NNCount = []
  for row in range(len(paragraphs)):
    count = 0
    if(type(paragraphs[row]) == float or len(paragraphs[row]) == 0):
      NNCount.append(0)
      continue
    for word,pos in nltk.pos_tag(nltk.word_tokenize(paragraphs[row])):
          if (pos == 'NN'):
            count += 1
    NNCount.append(count)
  return NNCount

In [ ]:
def NN_POS(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NN' and tagged[1][1] == 'POS':
      #print(tagged)
      cnt+=1
  return cnt

def NN_POSCount(paragraphs):
  f7 = []
  for item in paragraphs:
    if(type(item) == float or len(item) == 0):
      f7.append(0)
      continue
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = NN_POS(output)
      f7.append(cnt)
    else:
      f7.append(0)
  return f7

In [ ]:
def startsWith5WH(paragraphs):
  f = []
  for item in paragraphs:
    #print(item)
    if(type(item) == float or len(item) == 0):
      f.append(0)
      continue
    if item.lower().startswith("what") or item.lower().startswith("where") or item.lower().startswith("when") or item.lower().startswith("which") or item.lower().startswith("how"):
      f.append(1)
    else:
      f.append(0)
  return f

In [ ]:
def questionMark(paragraphs):
  questionMark = []
  for item in paragraphs:
    if(type(item) == float or len(item) == 0):
      questionMark.append(0)
      continue
    token = nltk.word_tokenize(item)
    #print(token)
    try:
      token.index("?")
      questionMark.append(1)
    except ValueError:
      questionMark.append(0)
  return questionMark

In [ ]:
def this_these_NN_POS(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NN' and (tagged[0][0].casefold() == "this".casefold() or tagged[0][0].casefold() == 'these'.casefold()) and tagged[1][1] == 'POS':
      #print(tagged)
      cnt+=1
  return cnt

def this_these_NN_POSCount(paragraphs):
  f7 = []
  for item in paragraphs:
    if(type(item) == float or len(item) == 0):
      f7.append(0)
      continue
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = this_these_NN_POS(output)
      f7.append(cnt)
    else:
      f7.append(0)
  return f7

In [ ]:
def PRP_POS(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'PRP' and tagged[1][1] == 'POS':
      #print(tagged)
      cnt+=1
  return cnt

def PRP_POSCount(paragraphs):
  f7 = []
  for item in paragraphs:
    if(type(item) == float or len(item) == 0):
      f7.append(0)
      continue
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = PRP_POS(output)
      f7.append(cnt)
    else:
      f7.append(0)
  return f7

In [ ]:
#FEATURE 21 : PRP count
def PRPCount(paragraphs):
  PRPCount = []
  for row in range(len(paragraphs)):
    count = 0
    if(type(paragraphs[row]) == float or len(paragraphs[row]) == 0):
      PRPCount.append(0)
      continue
    for word,pos in nltk.pos_tag(nltk.word_tokenize(paragraphs[row])):
          if (pos == 'PRP'):
            count += 1
    PRPCount.append(count)
  return PRPCount

In [ ]:
def VBZCount(paragraphs):
  VBZCount = []
  for row in range(len(paragraphs)):
    count = 0
    if(type(paragraphs[row]) == float or len(paragraphs[row]) == 0):
      VBZCount.append(0)
      continue
    for word,pos in nltk.pos_tag(nltk.word_tokenize(paragraphs[row])):
          if (pos == 'VBZ'):
            count += 1
    VBZCount.append(count)
  return VBZCount

In [ ]:
def NNP_NNP_VBZ(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NNP' and tagged[1][1] == 'NNP' and tagged[2][1] == 'VBZ':
      #print(tagged)
      cnt+=1
  return cnt

def NNP_NNP_VBZCount(postText):
  f7 = []
  for item in postText:
    if(type(item) == float or len(item) == 0):
      f7.append(0)
      continue
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.trigrams(Tokens))
      cnt = NNP_NNP_VBZ(output)
      f7.append(cnt)
    else:
      f7.append(0)
  return f7

In [ ]:
def NN_IN(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NN' and tagged[1][1] == 'IN':
      #print(tagged)
      cnt+=1
  return cnt

def NN_INCount(postText):
  f7 = []
  for item in postText:
    if(type(item) == float or len(item) == 0):
      f7.append(0)
      continue
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = NN_IN(output)
      f7.append(cnt)
    else:
      f7.append(0)
  return f7

In [ ]:
def NN_IN_NNP(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NN' and tagged[1][1] == 'IN' and tagged[2][1] == 'NNP':
      #print(tagged)
      cnt+=1
  return cnt

def NN_IN_NNPCount(postText):
  f7 = []
  for item in postText:
    if(type(item) == float or len(item) == 0):
      f7.append(0)
      continue
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.trigrams(Tokens))
      cnt = NN_IN_NNP(output)
      f7.append(cnt)
    else:
      f7.append(0)
  return f7

In [ ]:
def stopWordsRatio(paragraphs):
  ratioStopWords = []
  stop_words = set(stopwords.words('english'))
  for row in paragraphs:
    if(type(row) == float or len(row) == 0):
      ratioStopWords.append(0)
      continue
    tokens = row.split()
    #print(tokens)
    tokens_with_sw = [word for word in tokens if word in stop_words]
    ratioStopWords.append(round(len(tokens_with_sw)/len(tokens),2))
    #print(tokens_with_sw)
  return ratioStopWords

In [ ]:
def bigram_NNP(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NNP' or tagged[1][1] == 'NNP':
      #print(tagged)
      cnt+=1
  return cnt

def bigram_NNPCount(paragraphs):
  f7 = []
  for item in paragraphs:
    if(type(item) == float or len(item) == 0):
      f7.append(0)
      continue
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = bigram_NNP(output)
      f7.append(cnt)
    else:
      f7.append(0)
  return f7

In [ ]:
def PRP_VBP(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'PRP' and tagged[1][1] == 'VBP':
      #print(tagged)
      cnt+=1
  return cnt

def PRP_VBPCount(paragraphs):
  f7 = []
  for item in paragraphs:
    if(type(item) == float or len(item) == 0):
      f7.append(0)
      continue
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = PRP_VBP(output)
      f7.append(cnt)
    else:
      f7.append(0)
  return f7

In [ ]:
def WP_POS(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'WP' and tagged[1][1] == 'POS':
      #print(tagged)
      cnt+=1
  return cnt

def WP_POSCount(postText):
  f7 = []
  for item in postText:
    if(type(item)== float) or len(item) == 0:
      f7.append(0)
      continue
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = WP_POS(output)
      f7.append(cnt)
    else:
      f7.append(0)
  return f7

In [ ]:
def noWP(postText):
  WPCount = []
  for row in range(len(postText)):
    if(type(postText[row]) == float) or len(postText[row]) == 0:
      WPCount.append(0)
      continue
    count = 0
    for word,pos in nltk.pos_tag(nltk.word_tokenize(postText[row])):
          if (pos == 'WP'):
            count += 1
    WPCount.append(count)
  return WPCount

In [ ]:
def DT_count(s):
  tagged = nltk.pos_tag(s)
  cnt = 0
  for item in tagged:
    if item[1]=='DT':
      # print(item[1])
      cnt=cnt+1
  return cnt

def DT(Text):
  f1 = []
  for item in Text:
    if(type(item)==float) or len(item) == 0:
      f1.append(0)
      continue
    s = nltk.word_tokenize(item)
    cnt = DT_count(s)
    f1.append(cnt)
  return f1

In [ ]:
def NNP_IN(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NNP' and tagged[1][1] == 'IN':
      # print(tagged)
      cnt+=1
  return cnt 
def NnpIn(Text):
  f2 = []
  for item in Text:
    if(type(item)==str and len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = NNP_IN(output)
      f2.append(cnt)
    else:
      f2.append(0)
  return f2

In [ ]:
def IN_NNP_NNP(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'IN' and tagged[1][1] == 'NNP' and tagged[0][1] == 'NNP':
      cnt+=1
      # print(tagged)
  return cnt
def In_Nnp_Nnp(Text):
  f2 = []
  for item in Text:
    if( type(item)==str and len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.trigrams(Tokens))  
      cnt = NNP_IN(output)
      f2.append(cnt)
    else:
      f2.append(0)
  return f2

In [ ]:
def POS_count(s):
  l = nltk.word_tokenize(s)
  tagged = nltk.pos_tag(l)
  cnt =0 
  for item in tagged:
    # print(item)
    if item[1]=='POS':
      # print(item)
      cnt+=1
  return cnt
def POS(Text):
  l = []
  for item in Text:
    if(type(item) == float ) or len(item) == 0:
      l.append(0)
      continue
    cnt = POS_count(item)
    l.append(cnt)
  return l

In [ ]:
def IN_NN(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'IN' and tagged[1][1] == 'NN':
      # print(tagged)
      cnt+=1
  return cnt 
def In_Nn(text):
  f2 = []
  for item in text:
    if(type(item) == str and len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = IN_NN(output)
      f2.append(cnt)
    else:
      f2.append(0)
  return f2

In [ ]:
def semi_delimeter_count(s):
  l = nltk.word_tokenize(s)
  cnt = 0
  for item in l:
    if item == ',':
      # print(item)
      cnt=cnt+1
  return cnt 
def SemiDelimeter(text):
  f4 = []
  for item in text:
    if(type(item)==float) or len(item) == 0:
      f4.append(0)
      continue
    cnt = semi_delimeter_count(item)
    f4.append(cnt)
  return f4

In [ ]:
def NNP_NNS(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NNP' and tagged[1][1] == 'NNS':
      cnt+=1
      # print(tagged)
  return cnt 
def Nnp_Nns(text):
  f5 = []
  for item in text:
    if(type(item) == str and len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = NNP_NNS(output)
      f5.append(cnt)
    else:
      f5.append(0)
  return f5

In [ ]:
def IN_JJ(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'IN' and tagged[1][1] == 'JJ':
      # print(tagged)
      cnt+=1
  return cnt 
def In_Jj(text):
  f6 = []
  for item in text:
    if(type(item) == str and len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = IN_JJ(output)
      f6.append(cnt)
    else:
      f6.append(0)
  return f6

In [ ]:
def NNP_POS(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NNP' and tagged[1][1] == 'POS':
      # print(tagged)
      cnt+=1
  return cnt 
def Nnp_Pos(text):
  f7 = []
  for item in text:
    if type(item)==str and len(item.split())>1 :  
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = NNP_POS(output)
      f7.append(cnt)
    else:
      f7.append(0)
  return f7

In [ ]:
def WDT(s):
  l = nltk.word_tokenize(s)
  output = nltk.pos_tag(l)
  cnt = 0
  for item in output:
    if item[1] == 'WDT':
      # print(item)
      cnt=cnt+1
  return cnt 
def Wdt(text):
  f8 = []
  for item in text:
    if type(item)==float or len(item) == 0:
      f8.append(0)
      continue
    cnt = WDT(item)
    f8.append(cnt)
  return f8

In [ ]:
def WDT_POS(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'WDT' and tagged[1][1] == 'POS':
      # print(tagged)
      cnt+=1
  return cnt 
def Wdt_Pos(text):
  f8 = []
  for item in text:
    if(type(item) == str and  len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = WDT_POS(output)
      f8.append(cnt)
    else:
      f8.append(0)
  return f8

In [ ]:
def NN_NN(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NN' and tagged[1][1] == 'NN':
      # print(tagged)
      cnt+=1
  return cnt
def Nn_Nn(Text):
  f9 = []
  for item in Text:
    if(type(item)==str and len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = NN_NN(output)
      f9.append(cnt)
    else:
      f9.append(0)
  return f9

In [ ]:
def NN_NNP(s):
  cnt = 0 
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NN' and tagged[1][1] == 'NNP':
      # print(tagged)
      cnt+=1
  return cnt 
def Nn_Nnp(Text):
  f10 = []
  for item in Text:
    if(type(item)==str and len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt =NN_NNP(output)
      f10.append(cnt)
    else:
      f10.append(0)
  return f10

In [ ]:
def NNP_VBD(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NNP' and tagged[1][1] == 'VBD':
      # print(tagged)
      cnt+=1
  return cnt
def Nnp_Vbd(PostText1):
  f10 = []
  for item in PostText1:
    if( type(item)==str and len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = NNP_VBD(output)
      f10.append(cnt)
    else:
      f10.append(0)
  return f10

In [ ]:
def RB_POS(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'RB' and tagged[1][1] == 'POS':
      # print(tagged)
      cnt+=1
  return cnt 
def Rb_Pos(text):
  f11 = []
  for item in text:
    if(type(item)==str and len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = RB_POS(output)
      f11.append(cnt)
    else:
      f11.append(0)
  return f11

In [ ]:
def DT_POS(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'DT' and tagged[1][1] == 'POS':
      cnt+=1
      # print(tagged)
  return cnt 
def Dt_Pos(text):
  f12 = []
  for item in text:
    if( type(item)==str and len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = DT_POS(output)
      f12.append(cnt)
    else:
      f12.append(0)
  return f12

In [ ]:
def RB(s):
  l = nltk.word_tokenize(s)
  output = nltk.pos_tag(l)
  cnt = 0
  for item in output:
    if item[1] == 'RB':
      # print(item)
      cnt=cnt+1
  return cnt 
def Rb(postText1):
  f12 = []
  for item in postText1:
    if type(item) == float or len(item) == 0:
      f12.append(0)
      continue
    cnt = RB(item)
    f12.append(cnt)
  return f12

In [ ]:
def NNP_NNP_NNP(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NNP' and tagged[1][1] == 'NNP' and tagged[2][1]=='NNP':
      # print(tagged)
      cnt+=1
  return cnt
def Nnp_Nnp_Nnp(postText1):
  f13 = [] 
  for item in postText1:
    if(type(item)==str and len(item.split())>2): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.trigrams(Tokens))
      cnt = NNP_NNP_NNP(output)
      f13.append(cnt)
    else:
      f13.append(0)
  return f13

In [ ]:
def NNP_NNP_NN(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NNP' and tagged[1][1] == 'NNP' and tagged[2][1]=='NN':
      # print(tagged)
      cnt+=1
  return cnt
def Nnp_Nnp_Nn(postText1):
  f14 = [] 
  for item in postText1:
    if(type(item)==str and len(item.split())>2): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.trigrams(Tokens))
      cnt = NNP_NNP_NN(output)
      f14.append(cnt)
    else:
      f14.append(0)
  return f14

In [ ]:
def RBS(s):
  l = nltk.word_tokenize(s)
  output = nltk.pos_tag(l)
  cnt = 0
  for item in output:
    if item[1] == 'RBS':
      # print(item)
      cnt=cnt+1
  return cnt 
def Rbs(postText1):
  f15 = []
  for item in postText1:
    if type(item)==float or len(item) == 0:
      f15.append(0)
      continue
    cnt = RBS(item)
    f15.append(cnt)
  return f15

In [ ]:
def VBN(s):
  l = nltk.word_tokenize(s)
  output = nltk.pos_tag(l)
  cnt = 0
  for item in output:
    if item[1] == 'VBN':
      # print(item)
      cnt=cnt+1
  return cnt 
def Vbn(postText1):
  f16 = []
  for item in postText1:
    if type(item)==float or len(item) == 0:
      f16.append(0)
      continue
    cnt = VBN(item)
    f16.append(cnt)
  return f16

In [ ]:
def VBN_IN(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'VBN' and tagged[1][1] == 'IN':
      # print(item)
      cnt+=1
  return cnt
def Vbn_In(postText1):
  f17 = [] 
  for item in postText1:
    if(type(item) == str and len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = VBN_IN(output)
      f17.append(cnt)
    else:
      f17.append(0) 
  return f17

In [ ]:
def CD_NP_VB(s):
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'CD' and tagged[1][1] == 'NP' and tagged[2][1] == "VB":
      # print(tagged)
      return True
  return False 
def Cd_Np_Vb(postText1):
  f18 = [] 
  for item in postText1:
    if(type(item)==str and len(item.split())>2): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.trigrams(Tokens))
      flag = 1
      if(CD_NP_VB(output)):
        f18.append(1)
        flag = 0
        break
      if flag:
        f18.append(0)
    else:
      f18.append(0)
  return f18

In [ ]:
def JJ_NNP(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'JJ' and tagged[1][1]=='NNP':
      # print(tagged)
      cnt+=1
  return cnt 
def Jj_Nnp(text):
  f19 = [] 
  for item in text:
    if(type(item)==str and len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = JJ_NNP(output)
      f19.append(cnt)
    else:
      f19.append(0)
  return f19

In [ ]:
def NNP_NN_NN(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'NNP' and tagged[1][1]=='NN' and tagged[2][1]=='NN':
      # print(tagged)
      cnt+=1
  return cnt 
def Nnp_Nn_Nn(postText1):
  f19 = [] 
  for item in postText1:
    if(type(item)==str and len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.trigrams(Tokens))
      cnt = NNP_NN_NN(output)
      f19.append(cnt)
    else:
      f19.append(0)
  return f19

In [ ]:
def DT_NN(s):
  cnt = 0
  for item in s:
    tagged = nltk.pos_tag(item)
    if tagged[0][1] == 'DT' and tagged[1][1]=='NN':
      # print(tagged)
      cnt+=1
  return cnt
def Dt_Nn(postText1):
  f19 = [] 
  for item in postText1:
    if(len(item.split())>1): 
      Tokens = nltk.word_tokenize(item)
      output = list(nltk.bigrams(Tokens))
      cnt = DT_NN(output)
      f19.append(cnt)
    else:
      f19.append(0)
  return f19

In [ ]:
def EX(s):
  l = nltk.word_tokenize(s)
  output = nltk.pos_tag(l)
  for tagged in output:
    if tagged[1] == 'EX':
      # print(tagged)
      return True
  return False 
def Ex(postText1):
  f19 = [] 
  for item in postText1:
    if len(item) == 0:
      f19.append(0)
      continue
    if(EX(item)):
       f19.append(1)
    else:
      f19.append(0)
  return f19

In [ ]:
!pip install textstat

In [ ]:
import textstat

In [ ]:
def list_to_str(l):
  s = ""
  for item in l:
    s=s+item
  return s

In [ ]:
def read_(s):
  return textstat.flesch_reading_ease(s)

In [ ]:
def read_para(p):
  l = []
  for item in p:
    if len(item)==0 or  type(item[0])!=str or item[0]=="":
      l.append(0)
      continue
    s = list_to_str(item)
    val = read_(s)
    l.append(val)
  return l

In [ ]:
def read_single_text(s):
  l = []
  for item in s:
    if(len(item)>0):
      val = read_(item)
      l.append(val)
    else:
      l.append(0)
  return l

In [ ]:
def read_single_title(s):
  l = []
  for item in s:
    val = read_(item)
    l.append(val)
  return l

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/nlp/Clickbit_dataset/clickbait17-train-170331/dataset/instances.csv")

In [ ]:
dataset.head()

,Unnamed: 0,id,postTimestamp,postText,postMedia,targetTitle,targetDescription,targetKeywords,targetParagraphs,targetCaptions
0,0,608310377143799810,Tue Jun 09 16:31:10 +0000 2015,"[""Apple's iOS 9 'App thinning' feature will gi...",[],Apple gives back gigabytes: iOS 9 'app thinnin...,'App thinning' will be supported on Apple's iO...,"Apple,gives,gigabytes,iOS,9,app,thinning,featu...","[""Paying for a 64GB phone only to discover tha...","[""'App thinning' will be supported on Apple's ..."
1,1,609297109095972864,Fri Jun 12 09:52:05 +0000 2015,['RT @kenbrown12: Emerging market investors ar...,['media/609297109095972864.jpg'],Emerging Markets Suffer Largest Outflow in Sev...,Global investors have yanked $9.3 billion from...,"emerging market,emerging markets,em flows,em i...","['Emerging markets are out of favor.', 'Global...",['Stocks Fall as Investors Watch Central Banks...
2,2,609504474621612032,Fri Jun 12 23:36:05 +0000 2015,['U.S. Soccer should start answering tough que...,[],U.S. Soccer should start answering tough quest...,A U.S. Senator's scathing letter questioned U....,NaN,"[""WINNIPEG, Manitoba – The bubble U.S. Soccer ...",['US to vote for Ali in FIFA election and not ...
3,3,609748367049105409,Sat Jun 13 15:45:13 +0000 2015,['How theme parks like Disney World left the m...,[],How theme parks like Disney World left the mid...,"America's top family vacation spots, like the ...","disney, disney world, disney ticket prices, di...",['When Walt Disney World opened in an Orlando ...,"['Some 1,000 persons turned out in Albuquerque..."
4,4,608688782821453825,Wed Jun 10 17:34:49 +0000 2015,['Could light bulbs hurt your health? One comp...,['media/608688782821453825.jpg'],Warning labels on your light bulbs,One company will put a health notice on all th...,"health, Should there be warning labels on your...","[""(CNN)The light bulb always makes the world's...",['Electric lights have made the world safer an...

In [ ]:
dataset.isnull().sum()

Unnamed: 0             0
id                     0
postTimestamp          0
postText               0
postMedia              0
targetTitle            0
targetDescription    192
targetKeywords       807
targetParagraphs       0
targetCaptions         0
dtype: int64

In [ ]:
postText = dataset["postText"]

In [ ]:
postText.head()

0    ["Apple's iOS 9 'App thinning' feature will gi...
1    ['RT @kenbrown12: Emerging market investors ar...
2    ['U.S. Soccer should start answering tough que...
3    ['How theme parks like Disney World left the m...
4    ['Could light bulbs hurt your health? One comp...
Name: postText, dtype: object

In [ ]:
type(postText)

pandas.core.series.Series

In [ ]:
postText[0]

'["Apple\'s iOS 9 \'App thinning\' feature will give your phone\'s storage a boost"]'

In [ ]:
def preProcess(s):
  l = []
  for item in s:
    if(type(item)==str):
      item = item.replace('["','')
      item = item.replace('"]','')
      item = item.replace("']",'')
      item = item.replace("['",'')
    l.append(item)
  return l

In [ ]:
postText[0]

'["Apple\'s iOS 9 \'App thinning\' feature will give your phone\'s storage a boost"]'

In [ ]:
dataset["postText"] = pd.DataFrame(preProcess(dataset["postText"]))

In [ ]:
postText[0]

'["Apple\'s iOS 9 \'App thinning\' feature will give your phone\'s storage a boost"]'

In [ ]:
dataset.head()

,Unnamed: 0,id,postTimestamp,postText,postMedia,targetTitle,targetDescription,targetKeywords,targetParagraphs,targetCaptions
0,0,608310377143799810,Tue Jun 09 16:31:10 +0000 2015,Apple's iOS 9 'App thinning' feature will give...,[],Apple gives back gigabytes: iOS 9 'app thinnin...,'App thinning' will be supported on Apple's iO...,"Apple,gives,gigabytes,iOS,9,app,thinning,featu...","[""Paying for a 64GB phone only to discover tha...","[""'App thinning' will be supported on Apple's ..."
1,1,609297109095972864,Fri Jun 12 09:52:05 +0000 2015,RT @kenbrown12: Emerging market investors are ...,['media/609297109095972864.jpg'],Emerging Markets Suffer Largest Outflow in Sev...,Global investors have yanked $9.3 billion from...,"emerging market,emerging markets,em flows,em i...","['Emerging markets are out of favor.', 'Global...",['Stocks Fall as Investors Watch Central Banks...
2,2,609504474621612032,Fri Jun 12 23:36:05 +0000 2015,U.S. Soccer should start answering tough quest...,[],U.S. Soccer should start answering tough quest...,A U.S. Senator's scathing letter questioned U....,NaN,"[""WINNIPEG, Manitoba – The bubble U.S. Soccer ...",['US to vote for Ali in FIFA election and not ...
3,3,609748367049105409,Sat Jun 13 15:45:13 +0000 2015,How theme parks like Disney World left the mid...,[],How theme parks like Disney World left the mid...,"America's top family vacation spots, like the ...","disney, disney world, disney ticket prices, di...",['When Walt Disney World opened in an Orlando ...,"['Some 1,000 persons turned out in Albuquerque..."
4,4,608688782821453825,Wed Jun 10 17:34:49 +0000 2015,Could light bulbs hurt your health? One compan...,['media/608688782821453825.jpg'],Warning labels on your light bulbs,One company will put a health notice on all th...,"health, Should there be warning labels on your...","[""(CNN)The light bulb always makes the world's...",['Electric lights have made the world safer an...

In [ ]:
postText.tail(10)

2449    ["Restaurant won't apologize for tasteless Cai...
2450    ['As a BASE jumper leaped, his girlfriend snap...
2451    ['Scott Walker hasn\'t been to a Bucks game in...
2452    ['RT @WNTonight: Grand jury indicts South Caro...
2453    ['Women scientists are tweeting "sexy” photos ...
2454    ["Man who received world's first penis transpl...
2455    ["RT @NYTSports: Abby didn't start, team could...
2456    ['Obama defends Affordable Care Act ahead of S...
2457    ['New study of the Deflategate report conclude...
2458    ['Netflix secures rights to Brad Pitt Afghanis...
Name: postText, dtype: object

In [ ]:
import re
def remove_emoji(string):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F" # emoticons
                           u"\U0001F300-\U0001F5FF" # symbols & pictographs
                           u"\U0001F680-\U0001F6FF" # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF" # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

for i in range(len(postText)):
  t = remove_emoji(postText[i])
  postText[i] = t

<ipython-input-85-68f1f499f48f>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postText[i] = t

In [ ]:
postText.head()

0    ["Apple's iOS 9 'App thinning' feature will gi...
1    ['RT @kenbrown12: Emerging market investors ar...
2    ['U.S. Soccer should start answering tough que...
3    ['How theme parks like Disney World left the m...
4    ['Could light bulbs hurt your health? One comp...
Name: postText, dtype: object

In [ ]:
postText.tail()

2454    ["Man who received world's first penis transpl...
2455    ["RT @NYTSports: Abby didn't start, team could...
2456    ['Obama defends Affordable Care Act ahead of S...
2457    ['New study of the Deflategate report conclude...
2458    ['Netflix secures rights to Brad Pitt Afghanis...
Name: postText, dtype: object

In [ ]:
postText[0]

'["Apple\'s iOS 9 \'App thinning\' feature will give your phone\'s storage a boost"]'

In [ ]:
df1 = pd.DataFrame()
df1["id"] = dataset["id"]

In [ ]:
df1["Pt_Number of NNP"] = pd.DataFrame(noNNP(postText))
df1["Pt_Number of tokens"] = pd.DataFrame(noTokens(postText))
df1["Pt_Word length of postText"] = pd.DataFrame(wordLen(postText))
df1["Pt_POS 2-gram NNP NNP"] = pd.DataFrame(NNP_NNPCount(postText))
df1["Pt_Whether post start with number"] = pd.DataFrame(startsWithNumber(postText))
df1["Pt_Average length of words in post"] = pd.DataFrame(averageLen(postText))
df1["Pt_Number of IN"] = pd.DataFrame(INCount(postText))
df1["Pt_POS 2-gram NNP VBZ"] = pd.DataFrame(NNP_VBZCount(postText))
df1["Pt_POS 2-gram IN NNP"] = pd.DataFrame(IN_NNPCount(postText))
df1["Pt_Length of the longest word in post text"] = pd.DataFrame(lenLongestWord(postText))
df1["Pt_Number of WRB"] = pd.DataFrame(WRBCount(postText))
df1["Pt_Count POS pattern WRB"] = pd.DataFrame(WRB_POSCount(postText))
df1["Pt_Number of NN"] = pd.DataFrame(NNCount(postText))
df1["Pt_Count POS pattern NN"] = pd.DataFrame(NN_POSCount(postText))
df1["Pt_Whether post text start with 5W1H"] = pd.DataFrame(startsWith5WH(postText))
df1["Pt_Whether exists QM"] = pd.DataFrame(questionMark(postText))
df1["Pt_Count POS pattern this/these NN"] = pd.DataFrame(this_these_NN_POSCount(postText))
df1["Pt_Count POS pattern PRP"] = pd.DataFrame(PRP_POSCount(postText))
df1["Pt_Number of PRP"] = pd.DataFrame(PRPCount(postText))
df1["Pt_Number of VBZ"] = pd.DataFrame(VBZCount(postText))
df1["Pt_POS 3-gram NNP NNP VBZ"] = pd.DataFrame(NNP_NNP_VBZCount(postText))
df1["Pt_POS 2-gram NN IN"] = pd.DataFrame(NN_INCount(postText))
df1["Pt_POS 3-gram NN IN NNP"] = pd.DataFrame(NN_IN_NNPCount(postText))

In [ ]:
df1.head(0)

Empty DataFrame
Columns: [id, Pt_Number of NNP, Pt_Number of tokens, Pt_Word length of postText, Pt_POS 2-gram NNP NNP, Pt_Whether post start with number, Pt_Average length of words in post, Pt_Number of IN, Pt_POS 2-gram NNP VBZ, Pt_POS 2-gram IN NNP, Pt_Length of the longest word in post text, Pt_Number of WRB, Pt_Count POS pattern WRB, Pt_Number of NN, Pt_Count POS pattern NN, Pt_Whether post text start with 5W1H, Pt_Whether exists QM, Pt_Count POS pattern this/these NN, Pt_Count POS pattern PRP, Pt_Number of PRP, Pt_Number of VBZ, Pt_POS 3-gram NNP NNP VBZ, Pt_POS 2-gram NN IN, Pt_POS 3-gram NN IN NNP]
Index: []

[0 rows x 24 columns]

In [ ]:
df1.shape

(2459, 57)

In [ ]:
df1["Pt_Ratio of stop words in post text"] = pd.DataFrame(stopWordsRatio(postText))
df1["Pt_POS 2-gram NNP"] = pd.DataFrame(bigram_NNPCount(postText))
df1["Pt_POS 2-gram PRP VBP"] = pd.DataFrame(PRP_VBPCount(postText))
df1["Pt_Count POS pattern WP"] = pd.DataFrame(WP_POSCount(postText))
df1["Pt_Number of WP"] = pd.DataFrame(noWP(postText))
df1["Pt_Number of DT"] = pd.DataFrame(DT(postText))
df1["Pt_Number of NNP IN"] = pd.DataFrame(NnpIn(postText))
df1["Pt_Number of IN NNP NNP"] = pd.DataFrame(In_Nnp_Nnp(postText))
df1["Pt_POS"] = pd.DataFrame(POS(postText))
df1["Pt_Number of IN NN"] = pd.DataFrame(In_Nn(postText))
df1["Pt_Number of Semi-Delimeter"] = pd.DataFrame(SemiDelimeter(postText))
df1["Pt_Number of NNP NNS"] = pd.DataFrame(Nnp_Nns(postText))
df1["Pt_Number of IN JJ"] = pd.DataFrame(In_Jj(postText))
df1["Pt_Number of NNP POS"] = pd.DataFrame(Nnp_Pos(postText))
df1["Pt_Number of WDT"] = pd.DataFrame(Wdt(postText))
df1["Pt_Number of WDT POS"] = pd.DataFrame(Wdt_Pos(postText))
df1["Pt_Number of NN NN"] = pd.DataFrame(Nn_Nn(postText))
df1["Pt_Number of NN NNP"] = pd.DataFrame(Nn_Nnp(postText))
df1["Pt_Number of NNP VBD"] = pd.DataFrame(Nnp_Vbd(postText))
df1["Pt_Number of RB POS"] = pd.DataFrame(Rb_Pos(postText))
df1["Pt_Number of DT POS"] = pd.DataFrame(Dt_Pos(postText))
df1["Pt_Number of Rb"] = pd.DataFrame(Rb(postText))
df1["Pt_Number of NNP NNP NNP"] = pd.DataFrame(Nnp_Nnp_Nnp(postText))
df1["Pt_Number of NNP NNP NN"] = pd.DataFrame(Nnp_Nnp_Nn(postText))
df1["Pt_Number of Rbs"] = pd.DataFrame(Rbs(postText))
df1["Pt_Number of VBN"] = pd.DataFrame(Vbn(postText))
df1["Pt_Number of VBN IN"] = pd.DataFrame(Vbn_In(postText))
df1["Pt_Number of CD NP VB"] = pd.DataFrame(Cd_Np_Vb(postText))
df1["Pt_Number of JJ NNP"] = pd.DataFrame(Jj_Nnp(postText))
df1["Pt_Number of NNP NN NN"] = pd.DataFrame(Nnp_Nn_Nn(postText))
df1["Pt_Number of DT NN"] = pd.DataFrame(Dt_Nn(postText))
df1["Pt_Existance of EX"] = pd.DataFrame(Ex(postText))

In [ ]:
df1["Pt_Readability of postText"]= pd.DataFrame(read_single_text(postText))

In [ ]:
df1["Pt_Readability of postText"]

0       83.66
1       65.73
2       59.30
3       85.69
4       88.74
        ...
2454    68.77
2455    72.83
2456    61.33
2457    74.19
2458    96.18
Name: Pt_Readability of postText, Length: 2459, dtype: float64

In [ ]:
df1["Pt_Ratio of stop words in post text"] = pd.DataFrame(stopWordsRatio(postText))

In [ ]:
df1.head()

,id,Pt_Number of NNP,Pt_Number of tokens,Pt_Word length of postText,Pt_POS 2-gram NNP NNP,Pt_Whether post start with number,Pt_Average length of words in post,Pt_Number of IN,Pt_POS 2-gram NNP VBZ,Pt_POS 2-gram IN NNP,...,Pt_Number of NNP NNP NN,Pt_Number of Rbs,Pt_Number of VBN,Pt_Number of VBN IN,Pt_Number of CD NP VB,Pt_Number of JJ NNP,Pt_Number of NNP NN NN,Pt_Number of DT NN,Pt_Existance of EX,Pt_Readability of postText
0,608310377143799810,1,20,13,0,0,5.15,1,0,0,...,0,0,0,0,0,0,0,1,0,83.66
1,609297109095972864,1,24,14,0,0,6.36,0,0,0,...,0,0,0,0,0,0,0,0,0,65.73
2,609504474621612032,5,20,12,1,0,6.83,1,0,1,...,0,0,0,0,0,0,0,0,0,59.30
3,609748367049105409,2,14,11,1,0,5.09,2,0,1,...,0,0,0,0,0,0,0,1,0,85.69
4,608688782821453825,0,21,16,0,0,5.00,1,0,0,...,0,0,0,0,0,0,0,0,0,88.74

In [ ]:
df1.to_csv("/content/drive/MyDrive/nlp/Model/csv/postText.csv",index=False)

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/nlp/Model/csv/postText.csv")

In [ ]:
dataset.head()

,id,Pt_Number of NNP,Pt_Number of tokens,Pt_Word length of postText,Pt_POS 2-gram NNP NNP,Pt_Whether post start with number,Pt_Average length of words in post,Pt_Number of IN,Pt_POS 2-gram NNP VBZ,Pt_POS 2-gram IN NNP,...,Pt_Number of NNP NNP NN,Pt_Number of Rbs,Pt_Number of VBN,Pt_Number of VBN IN,Pt_Number of CD NP VB,Pt_Number of JJ NNP,Pt_Number of NNP NN NN,Pt_Number of DT NN,Pt_Existance of EX,Pt_Readability of postText
0,608310377143799810,1,20,13,0,0,5.15,1,0,0,...,0,0,0,0,0,0,0,1,0,83.66
1,609297109095972864,1,24,14,0,0,6.36,0,0,0,...,0,0,0,0,0,0,0,0,0,65.73
2,609504474621612032,5,20,12,1,0,6.83,1,0,1,...,0,0,0,0,0,0,0,0,0,59.30
3,609748367049105409,2,14,11,1,0,5.09,2,0,1,...,0,0,0,0,0,0,0,1,0,85.69
4,608688782821453825,0,21,16,0,0,5.00,1,0,0,...,0,0,0,0,0,0,0,0,0,88.74