In [ ]:
# Import and download all required package

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import nltk
import pandas as pd 
from sklearn.feature_extraction.text import CountVectorizer
from collections import defaultdict 
import numpy as np
from statistics import variance
from sklearn import preprocessing

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string

In [ ]:
# Read the paragraph

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/feature/csv/para_and_mean_variance.csv")

In [ ]:
data.head()

,Unnamed: 0,id,paragraph,postText mean,postText variance,title mean,title variance
0,0,858462320779026433,Thousands of modern slavery victims havenot co...,0.643028,0.016918,0.678807,0.020574
1,1,858421020331560960,President Donald Trump has appointed thepro-li...,0.259717,0.070382,0.428651,0.059395
2,2,858368123753435136,When theWhite House correspondents’ dinner is ...,0.619952,0.026573,0.631976,0.024935
3,3,858323428260139008,Adorable is probably an understatement. This a...,0.409056,0.056876,0.361099,0.105833
4,4,858283602626347008,One of Tokyo's major subways systems says it s...,0.596689,0.029145,0.596689,0.029145

In [ ]:
# Read the  post texts and titles

In [ ]:
data2 = pd.read_csv("/content/drive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/Dataset/instances.csv")

In [ ]:
data2.head()

,id,postTimestamp,postText,postMedia,targetTitle,targetDescription,targetKeywords,targetParagraphs,targetCaptions
0,858462320779026433,Sat Apr 29 23:25:41 +0000 2017,['UK’s response to modern slavery leaving vict...,[],‘Inexcusable’ failures in UK’s response to mod...,“Inexcusable” failures in the UK’s system for ...,"modern slavery, Department For Work And Pensio...",['Thousands of modern slavery victims have\xa0...,['modern-slavery-rex.jpg']
1,858421020331560960,Sat Apr 29 20:41:34 +0000 2017,['this is good'],[],Donald Trump Appoints Pro-Life Advocate as Ass...,President Donald Trump has appointed pro-life ...,"Americans United for Life, Dr. Charmaine Yoest...",['President Donald Trump has appointed the\xa0...,"['In this July 1, 2010 file photo, Dr. Charmai..."
2,858368123753435136,Sat Apr 29 17:11:23 +0000 2017,"['The ""forgotten"" Trump roast: Relive his brut...",[],The ‘forgotten’ Trump roast: Relive his brutal...,President Trump won't be at this year's White ...,"trump whcd, whcd, white house correspondents d...",['When the\xa0White House correspondents’ dinn...,"[""President Trump will not attend this year's ..."
3,858323428260139008,Sat Apr 29 14:13:46 +0000 2017,['Meet the happiest #dog in the world!'],[],"Meet The Happiest Dog In The World, Maru The H...","The article is about Maru, a husky dog who has...","Maru, husky, dogs, pandas, furball, instagram",['Adorable is probably an understatement. This...,"['Maru ', 'Maru', 'Maru', 'Maru', 'Maru']"
4,858283602626347008,Sat Apr 29 11:35:31 +0000 2017,"[""Tokyo's subway is shut down amid fears over ...",[],Tokyo's subway is shut down amid fears over an...,"The temporary suspension, which lasted ten min...","Tokyo,subway,shut,fears,North,Korean,attack","[""One of Tokyo's major subways systems says it...","[""All nine lines of Tokyo's subway system were..."

In [ ]:
data2["postText"]

0        ['UK’s response to modern slavery leaving vict...
1                                         ['this is good']
2        ['The "forgotten" Trump roast: Relive his brut...
3                 ['Meet the happiest #dog in the world!']
4        ["Tokyo's subway is shut down amid fears over ...
                               ...
19533    ["Brazil soccer team and pilot's final intervi...
19534                                   ['😱😱😱😱😱😱😱😱😱😱😱😱😱😱']
19535    ['Frenchs Forest high school may have to make ...
19536                                   ['Oh Jeff… #bruh']
19537    ['Richard Sherman weighs in on Cam Newton’s st...
Name: postText, Length: 19538, dtype: object

In [ ]:
df1= pd.DataFrame()
df1["id"] = data2["id"]
df1["postText"] = data2.postText
df1["title"] = data2["targetTitle"]
df1["keywords"] = data2["targetKeywords"]

In [ ]:
data.head()

,Unnamed: 0,id,paragraph,postText mean,postText variance,title mean,title variance
0,0,858462320779026433,Thousands of modern slavery victims havenot co...,0.643028,0.016918,0.678807,0.020574
1,1,858421020331560960,President Donald Trump has appointed thepro-li...,0.259717,0.070382,0.428651,0.059395
2,2,858368123753435136,When theWhite House correspondents’ dinner is ...,0.619952,0.026573,0.631976,0.024935
3,3,858323428260139008,Adorable is probably an understatement. This a...,0.409056,0.056876,0.361099,0.105833
4,4,858283602626347008,One of Tokyo's major subways systems says it s...,0.596689,0.029145,0.596689,0.029145

In [ ]:
df2 = pd.DataFrame()
df2["id"] = data["id"]
df2["paragraph"] = data.paragraph

In [ ]:
# Merged post texts, title and paragraphs corresponding to id

In [ ]:
df = pd.merge(df1,df2, on='id', how = 'inner')

In [ ]:
df.head()

,id,postText,title,keywords,paragraph
0,858462320779026433,['UK’s response to modern slavery leaving vict...,‘Inexcusable’ failures in UK’s response to mod...,"modern slavery, Department For Work And Pensio...",Thousands of modern slavery victims havenot co...
1,858421020331560960,['this is good'],Donald Trump Appoints Pro-Life Advocate as Ass...,"Americans United for Life, Dr. Charmaine Yoest...",President Donald Trump has appointed thepro-li...
2,858368123753435136,"['The ""forgotten"" Trump roast: Relive his brut...",The ‘forgotten’ Trump roast: Relive his brutal...,"trump whcd, whcd, white house correspondents d...",When theWhite House correspondents’ dinner is ...
3,858323428260139008,['Meet the happiest #dog in the world!'],"Meet The Happiest Dog In The World, Maru The H...","Maru, husky, dogs, pandas, furball, instagram",Adorable is probably an understatement. This a...
4,858283602626347008,"[""Tokyo's subway is shut down amid fears over ...",Tokyo's subway is shut down amid fears over an...,"Tokyo,subway,shut,fears,North,Korean,attack",One of Tokyo's major subways systems says it s...

In [ ]:
paragraph = df["targetParagraph"]
postText = df["postText"]

In [ ]:
import string

In [ ]:
Remove emoji from the dataset

In [ ]:
import re
def remove_emoji(string):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F" # emoticons
                           u"\U0001F300-\U0001F5FF" # symbols & pictographs
                           u"\U0001F680-\U0001F6FF" # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF" # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

for i in range(len(postText)):
  t = remove_emoji(postText[i])
  postText[i] = t

<ipython-input-96-68f1f499f48f>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postText[i] = t

In [ ]:
from collections import defaultdict

In [ ]:
import re

In [ ]:
stop_words = set(stopwords.words('english'))
def word_cnt(s):
  d= defaultdict()
  # s = s.translate(str.maketrans('', '', string.punctuation))
  s = re.sub(r'[^\w\s]', '', s)
  s = s.lower()
  word_tokens = word_tokenize(s)
  for w in word_tokens:
    if w not in stop_words:
      if w not in d:
        d[w] = 1
      else:
        d[w]=d[w]+1
  d1 = defaultdict()
  for k in d.keys():
    if d[k] not in d1.keys():
      d1[d[k]] = [k]
    else:
      d1[d[k]].append(k)
  # print(d1)
  return d1

In [ ]:
l = []
for i in range(len(paragraph)):
  if(len(paragraph[i])==0 or len(postText[i])==0 ):
    l.append(0)
    continue
  # d=defaultdict()
  d = word_cnt(paragraph[i])
  key = d.keys()
  l1 = []
  sorted_key = sorted(key,reverse = True)
  for k in sorted_key:
    list1 = d[k]
    for item in list1:
      l1.append(item)
      if(len(l1)==20):
        break
    if len(l1)==20:
      break 
  l.append(l1)

In [ ]:
keyword = df1["keywords"]
title = df1["title"]

In [ ]:
# Match the words of keywords most frequent 20 or less than 20 word of paragraphs

In [ ]:
def match_keywords_paragraph_word(para_words,key):
  list1 =[]
  for i in range(len(key)):
    if type(key[i])==float  or len(para_words[i])==0 or len(para_words[i][0])==0:
      list1.append(0)
      continue
    key[i] = re.sub(r'[^\w\s]', " ", key[i])
    key[i] = key[i].lower()
    word_tokens = key[i].split(" ")
    cnt=0
    for word in word_tokens:
      if word in para_words[i]:
        cnt=cnt+1
    list1.append(cnt)
  return list1

In [ ]:
df_new = pd.DataFrame()
df_new["id"]=df["id"]
df_new["freq of word in para"] = l
df_new["Match keywords paragraph word"] = pd.DataFrame(match_keywords_paragraph_word(l,keyword))

<ipython-input-101-f7eec629059c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key[i] = re.sub(r'[^\w\s]', " ", key[i])
<ipython-input-101-f7eec629059c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key[i] = key[i].lower()

In [ ]:
# Match the words of post texts with most frequent 20 or less than 20 word of paragraphs

In [ ]:
def match_heading_paragraph_word(para_words,heading):
  list1 =[]
  for i in range(len(para_words)):
    if type(heading[i])==float or len(heading[i])==0 or len(para_words[i])==0 or len(para_words[i][0])==0:
      list1.append(0)
      continue
    heading[i] = re.sub(r'[^\w\s]', ' ', heading[i])
    heading[i] = heading[i].lower()
    word_tokens = word_tokenize(heading[i])
    cnt=0
    for word in word_tokens:
      if word in para_words[i]:
        cnt=cnt+1
    list1.append(cnt)
  return list1

In [ ]:
# Function call

In [ ]:
df_new["match title and paragraph word"] = pd.DataFrame(match_heading_paragraph_word(l,title))

<ipython-input-111-b2af8ee86764>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heading[i] = re.sub(r'[^\w\s]', ' ', heading[i])
<ipython-input-111-b2af8ee86764>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heading[i] = heading[i].lower()

In [ ]:
df_new["match postText and paragraph word"] = pd.DataFrame(match_heading_paragraph_word(l,postText))

<ipython-input-111-b2af8ee86764>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heading[i] = re.sub(r'[^\w\s]', ' ', heading[i])
<ipython-input-111-b2af8ee86764>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heading[i] = heading[i].lower()

In [ ]:
df_new.head(20)

,id,freq of word in para,Match keywords paragraph word,match title and paragraph word,match postText and paragraph word
0,858462320779026433,"[victims, modern, slavery, support, report, pe...",2,6,5
1,858421020331560960,"[president, prolife, yoest, trump, parenthood,...",13,3,0
2,858368123753435136,"[trump, said, roast, one, new, york, friars, c...",10,7,7
3,858323428260139008,"[part, adorable, husky, maru, also, bio, says,...",4,3,0
4,858283602626347008,"[north, missile, said, says, council, security...",2,3,3
5,858224473597779969,"[antidoping, laboratory, said, madrid, suspens...",0,4,3
6,858222698367000577,"[leeches, leech, said, blood, russian, russia,...",3,3,3
7,858191667739987968,"[plate, ad, pakistan, enjoy, dont, good, serio...",6,4,6
8,858153572571197440,"[debt, big, bloomberg, mortgages, yip, default...",1,3,1
9,858150052782645249,"[abu, sayyaf, philippines, notorious, group, p...",0,4,4
10,858137811039465472,"[copies, 1, news, vol, million, comic, spiderm...",0,3,3
11,858070460814184448,"[second, nfl, round, pick, first, back, third,...",3,3,1
12,858048368974733312,"[said, trump, us, north, korea, president, wan...",3,7,4
13,858033553468252160,"[zika, virus, florida, mosquito, outbreak, sai...",3,5,6
14,858025529429065729,"[election, tory, campaign, far, ukip, vote, se...",3,1,1
15,857977494275846144,"[top, 50, combine, rank, draft, 40, posted, ju...",2,2,2
16,857970008269496320,"[tennis, romanian, nastase, konta, match, team...",3,3,3
17,857924202548088832,"[training, coast, animals, live, guard, tissue...",15,5,5
18,857902233232527360,"[trump, campaign, white, embed, house, nbc, ne...",0,3,6
19,857883874663120898,"[execution, said, williams, arkansas, death, e...",0,2,2

In [ ]:
df_new["freq of word in para"][0]

['victims',
 'modern',
 'slavery',
 'support',
 'report',
 'period',
 'really',
 'victim',
 'government',
 'come',
 'go',
 'committee',
 'years',
 'leave',
 'nrm',
 'human',
 'said',
 'person',
 'response',
 'result']

In [ ]:
df["postText"][0]

'  uk s response to modern slavery leaving victims destitute while abusers go free  '

In [ ]:
# Save the existing features

In [ ]:
df_new.to_csv("/content/drive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/feature/csv/common_count_sentiment.csv",index=False)