In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import nltk
import pandas as pd 
from sklearn.feature_extraction.text import CountVectorizer
from collections import defaultdict 
import numpy as np
from statistics import variance
from sklearn import preprocessing

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/feature/csv/para_and_mean_variance.csv")

In [ ]:
data.head()

,Unnamed: 0,id,paragraph,postText mean,postText variance,title mean,title variance
0,0,858462320779026433,Thousands of modern slavery victims havenot co...,0.643028,0.016918,0.678807,0.020574
1,1,858421020331560960,President Donald Trump has appointed thepro-li...,0.259717,0.070382,0.428651,0.059395
2,2,858368123753435136,When theWhite House correspondents‚Äô dinner is ...,0.619952,0.026573,0.631976,0.024935
3,3,858323428260139008,Adorable is probably an understatement. This a...,0.409056,0.056876,0.361099,0.105833
4,4,858283602626347008,One of Tokyo's major subways systems says it s...,0.596689,0.029145,0.596689,0.029145

In [ ]:
data2 = pd.read_csv("/content/drive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/Dataset/instances.csv")

In [ ]:
data2.head()

,id,postTimestamp,postText,postMedia,targetTitle,targetDescription,targetKeywords,targetParagraphs,targetCaptions
0,858462320779026433,Sat Apr 29 23:25:41 +0000 2017,['UK‚Äôs response to modern slavery leaving vict...,[],‚ÄòInexcusable‚Äô failures in UK‚Äôs response to mod...,‚ÄúInexcusable‚Äù failures in the UK‚Äôs system for ...,"modern slavery, Department For Work And Pensio...",['Thousands of modern slavery victims have\xa0...,['modern-slavery-rex.jpg']
1,858421020331560960,Sat Apr 29 20:41:34 +0000 2017,['this is good'],[],Donald Trump Appoints Pro-Life Advocate as Ass...,President Donald Trump has appointed pro-life ...,"Americans United for Life, Dr. Charmaine Yoest...",['President Donald Trump has appointed the\xa0...,"['In this July 1, 2010 file photo, Dr. Charmai..."
2,858368123753435136,Sat Apr 29 17:11:23 +0000 2017,"['The ""forgotten"" Trump roast: Relive his brut...",[],The ‚Äòforgotten‚Äô Trump roast: Relive his brutal...,President Trump won't be at this year's White ...,"trump whcd, whcd, white house correspondents d...",['When the\xa0White House correspondents‚Äô dinn...,"[""President Trump will not attend this year's ..."
3,858323428260139008,Sat Apr 29 14:13:46 +0000 2017,['Meet the happiest #dog in the world!'],[],"Meet The Happiest Dog In The World, Maru The H...","The article is about Maru, a husky dog who has...","Maru, husky, dogs, pandas, furball, instagram",['Adorable is probably an understatement. This...,"['Maru ', 'Maru', 'Maru', 'Maru', 'Maru']"
4,858283602626347008,Sat Apr 29 11:35:31 +0000 2017,"[""Tokyo's subway is shut down amid fears over ...",[],Tokyo's subway is shut down amid fears over an...,"The temporary suspension, which lasted ten min...","Tokyo,subway,shut,fears,North,Korean,attack","[""One of Tokyo's major subways systems says it...","[""All nine lines of Tokyo's subway system were..."

In [ ]:
data2["postText"]

0        ['UK‚Äôs response to modern slavery leaving vict...
1                                         ['this is good']
2        ['The "forgotten" Trump roast: Relive his brut...
3                 ['Meet the happiest #dog in the world!']
4        ["Tokyo's subway is shut down amid fears over ...
                               ...
19533    ["Brazil soccer team and pilot's final intervi...
19534                                   ['üò±üò±üò±üò±üò±üò±üò±üò±üò±üò±üò±üò±üò±üò±']
19535    ['Frenchs Forest high school may have to make ...
19536                                   ['Oh Jeff‚Ä¶ #bruh']
19537    ['Richard Sherman weighs in on Cam Newton‚Äôs st...
Name: postText, Length: 19538, dtype: object

In [ ]:
df1= pd.DataFrame()
df1["id"] = data2["id"]
df1["postText"] = data2.postText
df1["title"] = data2["targetTitle"]
# df1["keywords"] = data2["targetKeywords"]

In [ ]:
data.head()

,Unnamed: 0,id,paragraph,postText mean,postText variance,title mean,title variance
0,0,858462320779026433,Thousands of modern slavery victims havenot co...,0.643028,0.016918,0.678807,0.020574
1,1,858421020331560960,President Donald Trump has appointed thepro-li...,0.259717,0.070382,0.428651,0.059395
2,2,858368123753435136,When theWhite House correspondents‚Äô dinner is ...,0.619952,0.026573,0.631976,0.024935
3,3,858323428260139008,Adorable is probably an understatement. This a...,0.409056,0.056876,0.361099,0.105833
4,4,858283602626347008,One of Tokyo's major subways systems says it s...,0.596689,0.029145,0.596689,0.029145

In [ ]:
df2 = pd.DataFrame()
df2["id"] = data["id"]
df2["paragraph"] = data.paragraph

In [ ]:
df = pd.merge(df1,df2, on='id', how = 'inner')

In [ ]:
df.head()

,id,postText,title,paragraph
0,858462320779026433,['UK‚Äôs response to modern slavery leaving vict...,‚ÄòInexcusable‚Äô failures in UK‚Äôs response to mod...,Thousands of modern slavery victims havenot co...
1,858421020331560960,['this is good'],Donald Trump Appoints Pro-Life Advocate as Ass...,President Donald Trump has appointed thepro-li...
2,858368123753435136,"['The ""forgotten"" Trump roast: Relive his brut...",The ‚Äòforgotten‚Äô Trump roast: Relive his brutal...,When theWhite House correspondents‚Äô dinner is ...
3,858323428260139008,['Meet the happiest #dog in the world!'],"Meet The Happiest Dog In The World, Maru The H...",Adorable is probably an understatement. This a...
4,858283602626347008,"[""Tokyo's subway is shut down amid fears over ...",Tokyo's subway is shut down amid fears over an...,One of Tokyo's major subways systems says it s...

In [ ]:
paragraph = df["paragraph"]
postText = df["postText"]
title = df["title"]

In [ ]:
import string

In [ ]:
import re
def remove_emoji(string):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F" # emoticons
                           u"\U0001F300-\U0001F5FF" # symbols & pictographs
                           u"\U0001F680-\U0001F6FF" # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF" # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

for i in range(len(postText)):
  t = remove_emoji(postText[i])
  postText[i] = t

<ipython-input-28-68f1f499f48f>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postText[i] = t

In [ ]:
def count_word(para, text, title):
  l_para, l_text, l_title = [], [], []
  for i in range(len(para)):
    s1 = re.sub(r'[^\w\s]', '', para[i])
    tokens_para = nltk.word_tokenize(s1)
    s2 = re.sub(r'[^\w\s]', '', text[i][2:-2])
    tokens_text = nltk.word_tokenize(s2)
    s3 = re.sub(r'[^\w\s]', '', title[i])
    tokens_title = nltk.word_tokenize(s3)
    l_para.append(len(tokens_para))
    l_text.append(len(tokens_text))
    l_title.append(len(tokens_title))
  return l_para, l_text, l_title

In [ ]:
l_para, l_text, l_title = count_word(paragraph,postText,title)

In [ ]:
def ratio_para_postText(para,text):
  l = []
  for i in range(len(para)):
    if para[i] == 0 or text[i]==0:
      print(para[i])
      l.append(0)
    else:
      l.append(text[i]/para[i])
  return l

In [ ]:
ratioParaPosttext = ratio_para_postText(l_para, l_text)

487
346
234
297
314
140
230
627
576
333
447
403
402
891
437
154
765
300
467
342
520
230
711
523
553
321
126
536
523
748
363
233
280
206
777
638
145
689
306
339
726
370
281
291
723
241
268
392
290
250
201
281
433
679
679
1089
451
417
511
180
274
155
380
339
455
730
366
441
628
450

In [ ]:
ratioParaPosttext[5]

0.03389830508474576

In [ ]:
df_new = pd.DataFrame()
df_new["id"] = df["id"]

In [ ]:
def ratio_text_Title(text,Title):
  l = []
  for i in range(len(text)):
    if Title[i] == 0 or text[i]==0:
      print(Title[i])
      l.append(0)
    else:
      l.append(text[i]/Title[i])
  return l

In [ ]:
ratioTitlePosttext = ratio_text_Title(l_text,l_title)

8
10
10
11
11
16
14
8
12
12
13
12
8
11
7
15
14
13
11
15
11
10
12
11
11
12
18
11
11
12
20
5
16
11
15
12
12
7
12
10
9
12
11
9
9
12
8
10
10
21
14
11
9
9
9
7
14
14
9
12
9
10
14
9
11
9
10
15
12
7

In [ ]:
df_new["ratio of words of PostText and Title"] = pd.DataFrame(ratioTitlePosttext)
df_new["ratio of words of PostText and Paragraph"] = pd.DataFrame(ratioParaPosttext)

In [ ]:
df_new.head()

,id,ratio of words of PostText and Title,ratio of words of PostText and Paragraph
0,858462320779026433,0.705882,0.010601
1,858421020331560960,0.230769,0.008451
2,858368123753435136,1.000000,0.015275
3,858323428260139008,0.437500,0.077778
4,858283602626347008,1.000000,0.034557

In [ ]:
    # s1 = re.sub(r'[^\w\s]', '', paragraph[0])
    # tokens_para = nltk.word_tokenize(s1)
    # s2 = re.sub(r'[^\w\s]', '', postText[0][2:-2])
    # tokens_text = nltk.word_tokenize(s2)
    # s3 = re.sub(r'[^\w\s]', '', title[0])
    # tokens_title = nltk.word_tokenize(s3)
    # print(len(tokens_para))
    # print(len(tokens_text))
    # print(len(tokens_title))
    # print(tokens_para)

1132
12
17
['Thousands', 'of', 'modern', 'slavery', 'victims', 'havenot', 'come', 'forward', 'while', 'others', 'who', 'have', 'chosen', 'to', 'report', 'their', 'enslavers', 'have', 'ended', 'up', 'destitute', 'as', 'a', 'result', 'of', 'insufficient', 'support', 'sayMPsInexcusable', 'failures', 'in', 'the', 'UKs', 'system', 'for', 'dealing', 'with', 'modern', 'slavery', 'areleaving', 'victims', 'reduced', 'to', 'destitution', 'while', 'their', 'abusers', 'go', 'free', 'because', 'they', 'are', 'not', 'adequately', 'supported', 'to', 'testify', 'against', 'them', 'an', 'alarming', 'report', 'has', 'warnedThousands', 'ofvictimshave', 'not', 'come', 'forward', 'while', 'others', 'who', 'have', 'chosen', 'to', 'give', 'evidence', 'against', 'their', 'enslavers', 'have', 'ended', 'up', 'destitute', 'as', 'a', 'result', 'of', 'insufficient', 'support', 'according', 'toa', 'report', 'publishedtoday', 'bythe', 'Work', 'and', 'Pensions', 'CommitteeIt', 'is', 'estimated', 'there', 'are', 'between', '10000', 'and', '13000', 'victims', 'of', 'modern', 'slavery', 'in', 'the', 'UK', 'but', 'the', 'reportwarns', 'that', 'failings', 'in', 'the', 'current', 'mechanism', 'meanthat', 'once', 'they', 'are', 'identified', 'they', 'have', 'no', 'automatic', 'formal', 'immigration', 'status', 'or', 'rightsWeak', 'and', 'uncoordinated', 'frontline', 'support', 'means', 'victims', 'are', 'often', 'faced', 'with', 'a', 'total', 'lack', 'of', 'understanding', 'or', 'even', 'recognition', 'of', 'their', 'situation', 'which', 'in', 'turn', 'has', 'a', 'negative', 'impact', 'on', 'the', 'number', 'of', 'successful', 'prosecutions', 'of', 'slave', 'masters', 'according', 'to', 'the', 'findingsOne', 'Client', 'M', 'told', 'the', 'Committee', 'he', 'managed', 'to', 'escape', 'from', 'his', 'traffickers', 'but', 'it', 'took', 'four', 'years', 'before', 'someone', 'recognised', 'that', 'he', 'was', 'a', 'potential', 'victim', 'of', 'modern', 'slavery', 'According', 'to', 'the', 'report', 'his', 'adviser', 'in', 'the', 'Jobcentre', 'who', 'knew', 'his', 'story', 'did', 'not', 'pick', 'up', 'on', 'his', 'situation', 'and', 'it', 'took', 'four', 'years', 'before', 'someone', 'finally', 'offered', 'him', 'the', 'help', 'he', 'requiredThe', 'report', 'also', 'found', 'that', 'no', 'data', 'is', 'collected', 'on', 'victims', 'once', 'they', 'leave', 'the', 'National', 'Referral', 'Mechanism', 'NRM', 'the', 'UKs', 'framework', 'for', 'identifying', 'victims', 'of', 'human', 'trafficking', 'and', 'ensuring', 'they', 'receive', 'protection', 'and', 'support', 'and', 'that', 'the', 'recording', 'of', 'data', 'that', 'is', 'collected', 'was', 'generally', 'substandardThe', 'Committee', 'said', 'it', 'was', 'unacceptable', 'that', 'the', 'Government', 'did', 'not', 'monitor', 'the', 'retrafficking', 'of', 'victims', 'and', 'urged', 'that', 'reform', 'to', 'the', 'NRM', 'must', 'include', 'the', 'recording', 'of', 'instances', 'where', 'victims', 'have', 'been', 'processed', 'through', 'the', 'framework', 'more', 'than', 'onceAs', 'part', 'of', 'the', 'inquiry', 'Baroness', 'ButlerSloss', 'Trustee', 'of', 'the', 'Human', 'Trafficking', 'Foundation', 'who', 'helped', 'draft', 'the', 'modern', 'slavery', 'bill', 'in', '2014', 'said', 'the', 'outcome', 'of', 'the', 'NRMprocess', 'was', 'nothing', 'but', 'a', 'piece', 'of', 'paper', 'to', 'victimsIt', 'is', 'an', 'extremely', 'unattractive', 'anomaly', 'and', 'an', 'extremely', 'expensive', 'process', 'putting', 'a', 'person', 'through', 'the', 'NRM', 'to', 'get', 'a', 'positive', 'outcome', 'that', 'everybody', 'accepts', 'that', 'person', 'is', 'the', 'victim', 'of', 'an', 'appalling', 'crime', 'she', 'addedAt', 'that', 'stage', 'having', 'spent', 'all', 'that', 'money', 'having', 'gone', 'through', 'all', 'that', 'process', 'there', 'is', 'no', 'result', 'except', 'a', 'piece', 'of', 'paperProblems', 'surrounding', 'asylum', 'rights', 'were', 'also', 'noted', 'in', 'the', 'report', 'in', 'its', 'findings', 'thatbeinga', 'victim', 'of', 'slavery', 'through', 'the', 'NRM', 'confers', 'no', 'equivalent', 'right', 'to', 'remain', 'for', 'any', 'period', 'whilerecognition', 'as', 'a', 'refugee', 'grants', 'an', 'initial', 'period', 'of', 'five', 'years', 'leave', 'to', 'remain', 'in', 'the', 'UKThe', 'damning', 'findings', 'come', 'less', 'than', 'a', 'yearafter', 'Theresa', 'May', 'announcedon', 'entering', 'Downing', 'StreetthatBritain', 'wouldlead', 'the', 'fight', 'against', 'modern', 'slaverycallingit', 'the', 'greatest', 'human', 'rights', 'issue', 'of', 'our', 'time', 'and', 'pledging', 'a', '33mboost', 'to', 'coordinatingthe', 'Government', 'response', 'to', 'the', 'issueThe', 'inquiry', 'launched', 'at', 'the', 'request', 'of', 'the', 'UKs', 'Independent', 'AntiSlavery', 'Commissioner', 'after', 'he', 'wrote', 'to', 'the', 'Committee', 'expressing', 'his', 'concerns', 'that', 'the', 'support', 'for', 'victims', 'of', 'modern', 'slavery', 'was', 'inadequate', 'made', 'a', 'number', 'of', 'urgentrecommendationsIt', 'suggested', 'that', 'all', 'confirmed', 'victims', 'of', 'modern', 'slavery', 'should', 'be', 'given', 'at', 'least', 'one', 'years', 'leave', 'to', 'remain', 'with', 'a', 'personal', 'plan', 'for', 'their', 'recovery', 'which', 'it', 'said', 'should', 'act', 'as', 'a', 'social', 'passport', 'to', 'support', 'for', 'at', 'least', 'the', '12month', 'period', 'of', 'leave', 'to', 'remainTraining', 'on', 'how', 'to', 'spot', 'signs', 'of', 'slavery', 'and', 'deal', 'sensitively', 'with', 'identified', 'victims', 'shouldbe', 'greatly', 'improved', 'among', 'frontline', 'Department', 'for', 'Work', 'and', 'Pensions', 'DWP', 'staff', 'who', 'are', 'often', 'not', 'aware', 'of', 'modern', 'slavery', 'the', 'Committee', 'saidThe', 'report', 'also', 'urged', 'that', 'the', 'Government', 'must', 'undertake', 'an', 'urgent', 'review', 'of', 'the', 'benefit', 'support', 'available', 'to', 'victims', 'including', 'those', 'who', 'are', 'assisting', 'the', 'police', 'with', 'investigationsKate', 'Roberts', 'head', 'of', 'office', 'at', 'the', 'Human', 'Trafficking', 'Foundation', 'welcomed', 'the', 'findingsand', 'said', 'changes', 'were', 'much', 'needed', 'in', 'a', 'system', 'that', 'currently', 'leaves', 'victims', 'of', 'modern', 'slavery', 'without', 'support', 'and', 'unable', 'to', 'unpack', 'the', 'trauma', 'theyve', 'been', 'subjected', 'toItsgood', 'to', 'see', 'such', 'a', 'detailed', 'report', 'that', 'really', 'shines', 'a', 'light', 'on', 'what', 'happens', 'to', 'victims', 'afterthe', 'identification', 'of', 'modern', 'slavery', 'I', 'really', 'welcome', 'therecommendations', 'they', 'are', 'much', 'neededMs', 'Roberts', 'told', 'The', 'IndependentAt', 'the', 'moment', 'the', 'recovery', 'period', 'is', 'actually', 'the', 'period', 'during', 'which', 'it', 'is', 'beingdecidedwhether', 'they', 'are', 'victims', 'ornot', 'I', 'dont', 'see', 'how', 'it', 'is', 'a', 'recovery', 'period', 'Iftheresso', 'much', 'uncertainty', 'in', 'your', 'life', 'and', 'youve', 'come', 'from', 'this', 'extreme', 'trauma', 'I', 'dont', 'think', 'you', 'can', 'really', 'begin', 'to', 'unpack', 'that', 'trauma', 'and', 'recover', 'when', 'youve', 'got', 'all', 'the', 'uncertainty', 'around', 'the', 'cornerUntil', 'now', 'our', 'whole', 'system', 'has', 'just', 'focused', 'on', 'the', 'identification', 'of', 'victims', 'They', 'go', 'through', 'this', 'really', 'quite', 'traumatic', 'process', 'of', 'having', 'to', 'disclose', 'whats', 'happened', 'to', 'them', 'and', 'almost', 'relive', 'it', 'and', 'then', 'the', 'decision', 'is', 'made', 'that', 'they', 'are', 'a', 'victim', 'and', 'it', 'doesnt', 'really', 'make', 'a', 'difference', 'They', 'think', 'now', 'theyll', 'be', 'okay', 'because', 'the', 'Government', 'believes', 'them', 'but', 'in', 'factit', 'often', 'doesnt', 'mean', 'anythingIf', 'these', 'recommendationswere', 'implemented', 'it', 'really', 'would', 'change', 'that', 'Many', 'victims', 'will', 'take', 'longer', 'than', 'a', 'year', 'to', 'recover', 'but', 'at', 'least', 'they', 'would', 'have', 'time', 'to', 'get', 'relevant', 'adviceand', 'put', 'the', 'necessary', 'applications', 'inIn', 'light', 'of', 'the', 'findingschair', 'of', 'the', 'CommitteeFrank', 'Field', 'MPsaid', 'While', 'we', 'applaud', 'the', 'leading', 'role', 'the', 'UK', 'has', 'taken', 'in', 'tackling', 'this', 'barbaric', 'crime', 'as', 'the', 'Prime', 'Minister', 'has', 'called', 'it', 'when', 'you', 'consider', 'what', 'is', 'at', 'stake', 'there', 'is', 'a', 'shocking', 'lack', 'of', 'awareness', 'and', 'coordination', 'in', 'the', 'frontline', 'services', 'dealing', 'with', 'modern', 'slaveryWhat', 'these', 'people', 'go', 'through', 'is', 'unimaginable', 'and', 'yet', 'it', 'is', 'happening', 'here', 'and', 'now', 'and', 'our', 'response', 'seems', 'almost', 'lackadaisical', 'a', 'paper', 'exercise', 'earning', 'you', 'recognition', 'as', 'having', 'been', 'enslaved', 'which', 'then', 'entitles', 'you', 'to', 'almost', 'nothing', 'as', 'far', 'as', 'we', 'can', 'seeWe', 'dont', 'even', 'record', 'instances', 'where', 'the', 'same', 'person', 'is', 'thrown', 'back', 'into', 'this', 'hell', 'even', 'though', 'that', 'is', 'surely', 'the', 'clearest', 'sign', 'of', 'the', 'failures', 'in', 'our', 'response', 'No', 'society', 'worth', 'its', 'salt', 'can', 'allow', 'this', 'to', 'continue', 'or', 'fail', 'to', 'support', 'those', 'who', 'fall', 'victimMr', 'Field', 'urged', 'the', 'Prime', 'Minister', 'to', 'go', 'further', 'in', 'the', 'Modern', 'Slavery', 'Act', 'she', 'brought', 'in', 'as', 'Home', 'Secretary', 'in', '2015', 'by', 'conducting', 'an', 'urgent', 'review', 'and', 'putting', 'in', 'place', 'some', 'basic', 'minimum', 'safeguards', 'in', 'order', 'to', 'support', 'victimsThe', 'Prime', 'Minister', 'now', 'needs', 'to', 'open', 'up', 'a', 'further', 'front', 'in', 'her', 'Modern', 'Slavery', 'Act', 'he', 'saidThe', 'incoming', 'Government', 'must', 'conduct', 'an', 'urgent', 'review', 'of', 'our', 'national', 'response', 'and', 'put', 'in', 'place', 'some', 'basic', 'minimum', 'safeguards', 'statusthat', 'will', 'allow', 'a', 'person', 'to', 'begin', 'to', 'rebuild', 'a', 'life', 'testify', 'against', 'their', 'abuser', 'if', 'they', 'feel', 'ableand', 'above', 'all', 'be', 'protected', 'from', 'the', 'unimaginable', 'but', 'real', 'possibility', 'of', 'falling', 'victim', 'again']

In [ ]:
postText[0]

"['UK‚Äôs response to modern slavery leaving victims destitute while abusers go free']"

In [ ]:
print(tokens_text)

['UKs', 'response', 'to', 'modern', 'slavery', 'leaving', 'victims', 'destitute', 'while', 'abusers', 'go', 'free']

In [ ]:
title.isnull().sum()

0

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/feature/csv/common_count_sentiment.csv")

In [ ]:
df.head()

,id,freq of word in para,Match keywords paragraph word,match title and paragraph word,match postText and paragraph word,senti_score,senti_score_absolute,entroy,lexical Diversity,Paragraph Ratio of formal and informal word
0,858462320779026433,"['victims', 'modern', 'slavery', 'support', 'r...",2,6,5,-0.125,0.875,8.342841,0.41,8.821138
1,858421020331560960,"['president', 'prolife', 'yoest', 'trump', 'pa...",13,3,0,0.750,0.750,7.193521,0.55,5.553571
2,858368123753435136,"['trump', 'said', 'roast', 'one', 'new', 'york...",10,7,7,0.000,0.750,8.465862,0.47,6.739437
3,858323428260139008,"['part', 'adorable', 'husky', 'maru', 'also', ...",4,3,0,0.875,0.875,5.538945,0.74,5.000000
4,858283602626347008,"['north', 'missile', 'said', 'says', 'council'...",2,3,3,0.000,0.000,7.505263,0.53,10.871795

In [ ]:
merged_dataset = pd.merge(df, df_new, on='id', how='inner')

In [ ]:
merged_dataset.head()

,id,freq of word in para,Match keywords paragraph word,match title and paragraph word,match postText and paragraph word,senti_score,senti_score_absolute,entroy,lexical Diversity,Paragraph Ratio of formal and informal word,ratio of words of PostText and Title,ratio of words of PostText and Paragraph
0,858462320779026433,"['victims', 'modern', 'slavery', 'support', 'r...",2,6,5,-0.125,0.875,8.342841,0.41,8.821138,0.705882,0.010601
1,858421020331560960,"['president', 'prolife', 'yoest', 'trump', 'pa...",13,3,0,0.750,0.750,7.193521,0.55,5.553571,0.230769,0.008451
2,858368123753435136,"['trump', 'said', 'roast', 'one', 'new', 'york...",10,7,7,0.000,0.750,8.465862,0.47,6.739437,1.000000,0.015275
3,858323428260139008,"['part', 'adorable', 'husky', 'maru', 'also', ...",4,3,0,0.875,0.875,5.538945,0.74,5.000000,0.437500,0.077778
4,858283602626347008,"['north', 'missile', 'said', 'says', 'council'...",2,3,3,0.000,0.000,7.505263,0.53,10.871795,1.000000,0.034557

In [ ]:
merged_dataset.to_csv("/content/drive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/feature/csv/common_count_sentiment.csv", index = False)

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/feature/csv/common_count_sentiment.csv")

In [ ]:
df1.head()

,id,freq of word in para,Match keywords paragraph word,match title and paragraph word,match postText and paragraph word,senti_score,senti_score_absolute,entroy,lexical Diversity,Paragraph Ratio of formal and informal word,ratio of words of PostText and Title,ratio of words of PostText and Paragraph
0,858462320779026433,"['victims', 'modern', 'slavery', 'support', 'r...",2,6,5,-0.125,0.875,8.342841,0.41,8.821138,0.705882,0.010601
1,858421020331560960,"['president', 'prolife', 'yoest', 'trump', 'pa...",13,3,0,0.750,0.750,7.193521,0.55,5.553571,0.230769,0.008451
2,858368123753435136,"['trump', 'said', 'roast', 'one', 'new', 'york...",10,7,7,0.000,0.750,8.465862,0.47,6.739437,1.000000,0.015275
3,858323428260139008,"['part', 'adorable', 'husky', 'maru', 'also', ...",4,3,0,0.875,0.875,5.538945,0.74,5.000000,0.437500,0.077778
4,858283602626347008,"['north', 'missile', 'said', 'says', 'council'...",2,3,3,0.000,0.000,7.505263,0.53,10.871795,1.000000,0.034557