In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Import and download all required packages

In [ ]:
import nltk
import pandas as pd 
from sklearn.feature_extraction.text import CountVectorizer
from collections import defaultdict 
import numpy as np
from statistics import variance
from sklearn import preprocessing

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string

para_and_mean_variance.csv has preprocessed paragraphs

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/feature/csv/para_and_mean_variance.csv")

In [ ]:
data.head()

,Unnamed: 0,id,paragraph,postText mean,postText variance,title mean,title variance
0,0,858462320779026433,Thousands of modern slavery victims havenot co...,0.643028,0.016918,0.678807,0.020574
1,1,858421020331560960,President Donald Trump has appointed thepro-li...,0.259717,0.070382,0.428651,0.059395
2,2,858368123753435136,When theWhite House correspondents’ dinner is ...,0.619952,0.026573,0.631976,0.024935
3,3,858323428260139008,Adorable is probably an understatement. This a...,0.409056,0.056876,0.361099,0.105833
4,4,858283602626347008,One of Tokyo's major subways systems says it s...,0.596689,0.029145,0.596689,0.029145

instances.csv used for reading the titles and post text

In [ ]:
data2 = pd.read_csv("/content/drive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/Dataset/instances.csv")

In [ ]:
data2.head()

,id,postTimestamp,postText,postMedia,targetTitle,targetDescription,targetKeywords,targetParagraphs,targetCaptions
0,858462320779026433,Sat Apr 29 23:25:41 +0000 2017,['UK’s response to modern slavery leaving vict...,[],‘Inexcusable’ failures in UK’s response to mod...,“Inexcusable” failures in the UK’s system for ...,"modern slavery, Department For Work And Pensio...",['Thousands of modern slavery victims have\xa0...,['modern-slavery-rex.jpg']
1,858421020331560960,Sat Apr 29 20:41:34 +0000 2017,['this is good'],[],Donald Trump Appoints Pro-Life Advocate as Ass...,President Donald Trump has appointed pro-life ...,"Americans United for Life, Dr. Charmaine Yoest...",['President Donald Trump has appointed the\xa0...,"['In this July 1, 2010 file photo, Dr. Charmai..."
2,858368123753435136,Sat Apr 29 17:11:23 +0000 2017,"['The ""forgotten"" Trump roast: Relive his brut...",[],The ‘forgotten’ Trump roast: Relive his brutal...,President Trump won't be at this year's White ...,"trump whcd, whcd, white house correspondents d...",['When the\xa0White House correspondents’ dinn...,"[""President Trump will not attend this year's ..."
3,858323428260139008,Sat Apr 29 14:13:46 +0000 2017,['Meet the happiest #dog in the world!'],[],"Meet The Happiest Dog In The World, Maru The H...","The article is about Maru, a husky dog who has...","Maru, husky, dogs, pandas, furball, instagram",['Adorable is probably an understatement. This...,"['Maru ', 'Maru', 'Maru', 'Maru', 'Maru']"
4,858283602626347008,Sat Apr 29 11:35:31 +0000 2017,"[""Tokyo's subway is shut down amid fears over ...",[],Tokyo's subway is shut down amid fears over an...,"The temporary suspension, which lasted ten min...","Tokyo,subway,shut,fears,North,Korean,attack","[""One of Tokyo's major subways systems says it...","[""All nine lines of Tokyo's subway system were..."

In [ ]:
data2["postText"]

0        ['UK’s response to modern slavery leaving vict...
1                                         ['this is good']
2        ['The "forgotten" Trump roast: Relive his brut...
3                 ['Meet the happiest #dog in the world!']
4        ["Tokyo's subway is shut down amid fears over ...
                               ...
19533    ["Brazil soccer team and pilot's final intervi...
19534                                   ['😱😱😱😱😱😱😱😱😱😱😱😱😱😱']
19535    ['Frenchs Forest high school may have to make ...
19536                                   ['Oh Jeff… #bruh']
19537    ['Richard Sherman weighs in on Cam Newton’s st...
Name: postText, Length: 19538, dtype: object

In [ ]:
df1= pd.DataFrame()
df1["id"] = data2["id"]
df1["postText"] = data2.postText
df1["title"] = data2["targetTitle"]

In [ ]:
data.head()

,Unnamed: 0,id,paragraph,postText mean,postText variance,title mean,title variance
0,0,858462320779026433,Thousands of modern slavery victims havenot co...,0.643028,0.016918,0.678807,0.020574
1,1,858421020331560960,President Donald Trump has appointed thepro-li...,0.259717,0.070382,0.428651,0.059395
2,2,858368123753435136,When theWhite House correspondents’ dinner is ...,0.619952,0.026573,0.631976,0.024935
3,3,858323428260139008,Adorable is probably an understatement. This a...,0.409056,0.056876,0.361099,0.105833
4,4,858283602626347008,One of Tokyo's major subways systems says it s...,0.596689,0.029145,0.596689,0.029145

In [ ]:
df2 = pd.DataFrame()
df2["id"] = data["id"]
df2["paragraph"] = data.paragraph

In [ ]:
# Merged title ,post texts and paragraphs corresponding to id

In [ ]:
df = pd.merge(df1,df2, on='id', how = 'inner')

In [ ]:
df.head()

,id,postText,title,paragraph
0,858462320779026433,['UK’s response to modern slavery leaving vict...,‘Inexcusable’ failures in UK’s response to mod...,Thousands of modern slavery victims havenot co...
1,858421020331560960,['this is good'],Donald Trump Appoints Pro-Life Advocate as Ass...,President Donald Trump has appointed thepro-li...
2,858368123753435136,"['The ""forgotten"" Trump roast: Relive his brut...",The ‘forgotten’ Trump roast: Relive his brutal...,When theWhite House correspondents’ dinner is ...
3,858323428260139008,['Meet the happiest #dog in the world!'],"Meet The Happiest Dog In The World, Maru The H...",Adorable is probably an understatement. This a...
4,858283602626347008,"[""Tokyo's subway is shut down amid fears over ...",Tokyo's subway is shut down amid fears over an...,One of Tokyo's major subways systems says it s...

In [ ]:
paragraph = df["paragraph"]
postText = df["postText"]
title = df["title"]

In [ ]:
import string

Removing emoji from text

Functions for spliting the paragraphs, titles and post texts into lists of words

In [ ]:
#calculate the count of words in postText, targetTitle and targetParagraphs
def count_word(para, text, title):
  l_para, l_text, l_title = [], [], []
  for i in range(len(para)):
    s1 = re.sub(r'[^\w\s]', '', para[i])
    tokens_para = nltk.word_tokenize(s1)
    s2 = re.sub(r'[^\w\s]', '', text[i][2:-2])
    tokens_text = nltk.word_tokenize(s2)
    s3 = re.sub(r'[^\w\s]', '', title[i])
    tokens_title = nltk.word_tokenize(s3)
    l_para.append(len(tokens_para))
    l_text.append(len(tokens_text))
    l_title.append(len(tokens_title))
  return l_para, l_text, l_title

In [ ]:
l_para, l_text, l_title = count_word(paragraph,postText,title)

Ratio of numbers of words of post texts and paragraphs

In [ ]:
#calculate ratio of words in postText and targetParagraph
def ratio_para_postText(para,text):
  l = []
  for i in range(len(para)):
    if para[i] == 0 or text[i]==0:
      print(para[i])
      l.append(0)
    else:
      l.append(text[i]/para[i])
  return l

In [ ]:
ratioParaPosttext = ratio_para_postText(l_para, l_text)

487
346
234
297
314
140
230
627
576
333
447
403
402
891
437
154
765
300
467
342
520
230
711
523
553
321
126
536
523
748
363
233
280
206
777
638
145
689
306
339
726
370
281
291
723
241
268
392
290
250
201
281
433
679
679
1089
451
417
511
180
274
155
380
339
455
730
366
441
628
450

In [ ]:
ratioParaPosttext[5]

0.03389830508474576

In [ ]:
df_new = pd.DataFrame()
df_new["id"] = df["id"]

Ratio of numbers of words of post texts and titles.

In [ ]:
#calculate ratio of words in postText and TargetTitle
def ratio_text_Title(text,Title):
  l = []
  for i in range(len(text)):
    if Title[i] == 0 or text[i]==0:
      print(Title[i])
      l.append(0)
    else:
      l.append(text[i]/Title[i])
  return l

In [ ]:
ratioTitlePosttext = ratio_text_Title(l_text,l_title)

8
10
10
11
11
16
14
8
12
12
13
12
8
11
7
15
14
13
11
15
11
10
12
11
11
12
18
11
11
12
20
5
16
11
15
12
12
7
12
10
9
12
11
9
9
12
8
10
10
21
14
11
9
9
9
7
14
14
9
12
9
10
14
9
11
9
10
15
12
7

Function call

In [ ]:
df_new["ratio of words of PostText and Title"] = pd.DataFrame(ratioTitlePosttext)
df_new["ratio of words of PostText and Paragraph"] = pd.DataFrame(ratioParaPosttext)

In [ ]:
df_new.head()

,id,ratio of words of PostText and Title,ratio of words of PostText and Paragraph
0,858462320779026433,0.705882,0.010601
1,858421020331560960,0.230769,0.008451
2,858368123753435136,1.000000,0.015275
3,858323428260139008,0.437500,0.077778
4,858283602626347008,1.000000,0.034557

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/feature/csv/common_count_sentiment.csv")

In [ ]:
df.head()

,id,freq of word in para,Match keywords paragraph word,match title and paragraph word,match postText and paragraph word,senti_score,senti_score_absolute,entroy,lexical Diversity,Paragraph Ratio of formal and informal word
0,858462320779026433,"['victims', 'modern', 'slavery', 'support', 'r...",2,6,5,-0.125,0.875,8.342841,0.41,8.821138
1,858421020331560960,"['president', 'prolife', 'yoest', 'trump', 'pa...",13,3,0,0.750,0.750,7.193521,0.55,5.553571
2,858368123753435136,"['trump', 'said', 'roast', 'one', 'new', 'york...",10,7,7,0.000,0.750,8.465862,0.47,6.739437
3,858323428260139008,"['part', 'adorable', 'husky', 'maru', 'also', ...",4,3,0,0.875,0.875,5.538945,0.74,5.000000
4,858283602626347008,"['north', 'missile', 'said', 'says', 'council'...",2,3,3,0.000,0.000,7.505263,0.53,10.871795

In [ ]:
merged_dataset = pd.merge(df, df_new, on='id', how='inner')

In [ ]:
merged_dataset.head()

,id,freq of word in para,Match keywords paragraph word,match title and paragraph word,match postText and paragraph word,senti_score,senti_score_absolute,entroy,lexical Diversity,Paragraph Ratio of formal and informal word,ratio of words of PostText and Title,ratio of words of PostText and Paragraph
0,858462320779026433,"['victims', 'modern', 'slavery', 'support', 'r...",2,6,5,-0.125,0.875,8.342841,0.41,8.821138,0.705882,0.010601
1,858421020331560960,"['president', 'prolife', 'yoest', 'trump', 'pa...",13,3,0,0.750,0.750,7.193521,0.55,5.553571,0.230769,0.008451
2,858368123753435136,"['trump', 'said', 'roast', 'one', 'new', 'york...",10,7,7,0.000,0.750,8.465862,0.47,6.739437,1.000000,0.015275
3,858323428260139008,"['part', 'adorable', 'husky', 'maru', 'also', ...",4,3,0,0.875,0.875,5.538945,0.74,5.000000,0.437500,0.077778
4,858283602626347008,"['north', 'missile', 'said', 'says', 'council'...",2,3,3,0.000,0.000,7.505263,0.53,10.871795,1.000000,0.034557

Add extracted features ratios words count post texts and titles, paragraphs in existed features.

In [ ]:
merged_dataset.to_csv("/content/drive/MyDrive/nlp/Clickbit_dataset/clickbait17-validation-170630/feature/csv/common_count_sentiment.csv", index = False)